<template>
    <a
        v-if="anchor"
        :href="[!hrefTo ? '#' : hrefTo]"
        class="btn"
        :class="[size, btnType]"
        :style="{background: '#'+bgColor}"><slot></slot></a>
    <nuxt-link
        v-else-if="router"
        class="btn"
        :class="[size, btnType]"
        :to="to"
        :style="{background: '#'+bgColor}"><slot></slot></nuxt-link>
    <button
        v-else
        class="btn"
        :class="[size, btnType]"
        :type="type"
        :style="{background: '#'+bgColor}"><slot></slot></button>
</template>

<script>
export default {
    name: 'Button',
    props: [ 'size', 'btnType', 'onclick', 'type', 'anchor', 'hrefTo', 'router', 'to', 'bgColor', ]
}
</script>

<style scoped> 
    .btn{
        font-family: lato-bold; 
    }
    .btn.x-small{
        padding: 3px 6px;
        font-size: 12px;
        height: 20px;
    }
    .btn.small{
        padding: 5px 15px;
        font-size: 12px;
        line-height: 1.5em;
    }
    .btn.medium{
        font-size: 14px;
        padding: 5px 15px;
        width: 218px;
        height: 32px;
    }
    .btn.large{
        padding: 12px;
        font-size: 14px;
        line-height: 1em;
    }
    .btn.pills{
        border-radius: 6px;
    }
    .btn.pills-secondary{
        border-radius: 45px;
        color: #f97432;
        background: #fff;
        border: 1px solid #f97432;
    }
    .btn.pills-primary{
        border-radius: 45px;
        background: #f97432;
        color: #fff;  
    }
    .btn.shape-primary{
        background: #f97432;
        color: #fff;
        border-radius: 4px;
        line-height: normal;
        border: none;
    }
    .btn.shape-secondary{
        background: #fff;
        color: #f97432;
        border: 1px solid #f97432;
        border-radius: 4px;
        line-height: normal;
        height: 20px;
    }
    .btn.delete-icon{
        background: none;
        color: #f97432;
        padding: 0;
    }
    .btn.btn.delete-icon i{
        vertical-align: middle;
        font-size: 20px;
    }
    .btn.inactive{
        background: #e9ebee;
        color: #8996a3;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
</style>
