<template>
	<div id="guestRoom" class="container">
		<div class="row">
			<i class="home-icon icon-user"></i>
			<strong>Jumlah Tamu &amp; Kamar</strong>
		</div>
		<div class="row">
			<div class="col-4">Tamu</div>
			<div class="col-8 text-right"><span class="minus" @click="minusGuestCount"></span> <input class="text-center" v-model="guestCount" readonly/> <span class="plus" @click="plusGuestCount"></span></div>
		</div>
		<div class="row">
			<div class="col-4">Kamar</div>
			<div class="col-8 text-right"><span class="minus" @click="minusRoomCount"></span><input class="text-center" v-model="roomCount" readonly/> <span class="plus" @click="plusRoomCount"></span></div>
		</div>
	</div>
</template>
<script> 

export default {
  name: 'GuestRoom',
  props:{
    guestRoomInfo:{
      type:Object
    }
  },
  computed:{
    guestCount(){
      return this.guestRoomInfo.guestCount
    },
    roomCount(){
      return this.guestRoomInfo.roomCount
    } 
  },
  methods: {
    setGuestCount(val){ 
      this.$emit('updateGuestRoomInfo',{
        guestCount:val,  
      })
    }, 
    setRoomCount(val){
      this.$emit('updateGuestRoomInfo',{ 
        roomCount:val 
      })
    }, 
    minusGuestCount: function () {
      if ( this.guestCount > 1){
        this.setGuestCount(this.guestCount - 1) 
        if ( this.guestCount - 1 < this.roomCount)
          this.setRoomCount(this.roomCount - 1)
      }
    },
    plusGuestCount: function () {
      if ( this.guestCount < 32)
        this.setGuestCount(this.guestCount + 1)
    },
    minusRoomCount: function () {
      if ( this.roomCount > 1){
        this.setRoomCount(this.roomCount - 1)
      }
    },
    plusRoomCount: function () {
      if ( this.roomCount < 8){
        this.setRoomCount(this.roomCount + 1)
        if ( this.roomCount + 1 > this.guestCount){
          this.setGuestCount(this.guestCount + 1)
        }
      }
    }
  },
}
</script>
<style lang="scss">
#guestRoom{
  font-size: var(--font-mobile-md);
	&.container > .row {
      padding: 10px 0px;
      text-align: left;
      line-height: 24px;
      strong {
        margin-left: 6px;
      }
      input {
        width: 40px;
        border: 0;
        font-weight: 600;
      }
	}
	&.container > .row:nth-child(2){
			padding-bottom: 24px;
  }
  &.container > .row:nth-child(3) {
			padding-bottom: 30px;
	}
	&.container > .row:nth-child(2) > .col-4, &.container > .row:nth-child(3) > .col-4 {
      padding: 0 30px; ;
  }
  .plus, .minus {
    width: 25px;
    height: 25px;
    background: #f97342;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
  }
  .plus:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    //background: url('~@/assets/img/icon_home.png') no-repeat;
    background-position: -124px 1px;
    background-size: 170px;
  }
  .minus:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    //background: url('~@/assets/img/icon_home.png') no-repeat;
    background-position: -145px 2px;
    background-size: 170px;
  }
}
</style>
