<template> 
  <section id="locationSearchBox">
    <div class="location-header">
      <div class="exit-icon" @click="closeLocationSearch()">
          <div class="home-icon icon-arrow-lg">
      </div>  
      </div> 
      <div class="search-box clearfix"> 
          <input
          id="locationKeyword"
          class="form-control ellipsis"
          placeholder="Ketik destinasi atau nama hotel"
          type="text"
          name="locationKeyword"
          ref="locationKeyword"
          :value="locationKeyword"
          @input="locationKeyword = $event.target.value, doSearch()"
          @focus-in="locationKeyword = $event.target.value, doSearch()">
          <div class="home-icon icon-clear"
            @click="clearSearch()">
          </div>
      </div>
    </div>
    <div class="location-content" ref="locationContent" v-on:scroll.passive="hideIosSoftKeyboard('locationKeyword')">
      <div id="nearmeBar" class="nearme-bar search-card row" v-show="isNearmeBarVisible">
        <div class="nearme-text">Cari hotel di sekitar saya</div>
        <div class="icon-nearme home-icon icon-target-lg" @click="getNearLocation"></div>
      </div>
      <div id="latestSearch" class="item-search search-card row" v-show="isLatestSearchVisible">
        <div class="title-bar row">
          <div class="col-1 icon-latest"></div>
          <div class="col-8 title-text">Pencarian Terakhir</div>
          <div class="col-3 title-remove"
            @click="DeleteHistoryModalStatus({'status':true})">Hapus
          </div>
        </div>
        <div class="item">
          <div class="item-bar row" v-for="(item, i) in dataCookieHistory" :key="i">
            <div class="col-1 align-self-center icon-item" :class=[item.selectedLocation.type] ></div>
            <div class="col-10 align-self-center item-text">
              <span class="text-main">{{item.maintext}}</span>
              <br>
              <span class="text-sub">{{item.subtext}} </span>
              <span v-if="item.hotelNumText">{{item.hotelNumText}}</span>
            </div>
            <div class="col-1 align-self-center chevron-right"></div>
          </div>
        </div> 
        <div id="noResult" class="no-result" v-show="isNoResultVisible">
          <div class="icon-no-result"></div>
          <div class="no-result-text"><strong>Kata kunci yang Anda pakai tidak ditemukan.</strong>
            <p>Silahkan ubah kata kunci lain atau periksa koneksi internet Anda.</p>
          </div>
        </div>
      </div> 
      <div id="popularDestination" class="popular-search search-card row" v-show="isPopularDestinationVisible">
        <div class="title-bar row">
          <div class="col-1 icon-popular"></div>
          <div class="col-8 title-text">Tujuan Populer</div>
        </div>
        <div class="popular-item">
          <div class="popular-box row" v-for="(item, i) in popularDestination" :key="i" @click="selectLocation(item)">
            <div class="col-1 icon-city"></div>
            <div class="col-8 popular-text">{{item.maintext}}</div>
          </div>
        </div>
      </div> 
      <div id="searchResult" class="result-search search-card row" v-show="isLocationResultVisible">
        <div class="item-bar row" v-for="(item) in locationResult" v-bind:key="item.id" @click="selectLocation(item)">
          <div 
            v-if="item.objectType == 1" class="col-1 align-self-center icon-item icity"></div>
          <div 
            v-else-if="item.objectType == 2" class="col-1 align-self-center icon-item iarea"></div>
          <div 
            v-else-if="item.objectType == 3" class="col-1 align-self-center icon-item ihotel"></div>
          <div 
            v-else-if="item.objectType == 4" class="col-1 align-self-center icon-item ilandmark"></div>
          <div class="col-10 align-self-center item-text">
            <span
             v-if="item.objectType == 1" 
             v-html="highlightText(item.city,searchQueriesFilter,'text-main')" class="text-main"></span>
            <span
             v-else-if="item.objectType == 2" 
             v-html="highlightText(item.area,searchQueriesFilter,'text-main')" class="text-main"></span>
            <span
             v-else-if="item.objectType == 3" 
             v-html="highlightText(item.hotel_name,searchQueriesFilter,'text-main')" class="text-main"></span>
            <span
             v-else-if="item.objectType == 4" 
             v-html="highlightText(item.attraction,searchQueriesFilter,'text-main')" class="text-main"></span>
            <br>
            <span 
              v-if="item.objectType == 1"
              v-html="highlightText('Kota ',searchQueriesFilter,'text-sub')" class="text-sub"></span>
            <span 
              v-else-if="item.objectType == 2"
              v-html="highlightText('Area: '+item.city,searchQueriesFilter,'text-sub')" class="text-sub"></span>
            <span 
              v-else-if="item.objectType == 3"
              v-html="highlightText('Hotel: '+item.city,searchQueriesFilter,'text-sub')" class="text-sub"></span>
            <span 
              v-else-if="item.objectType == 4"
              v-html="highlightText('Landmark: '+item.city,searchQueriesFilter,'text-sub')" class="text-sub"></span>
            <span v-if="item.count && item.objectType != 3"> ({{item.count}} Hotel)</span>
          </div>
          <div class="col-1 align-self-center chevron-right"></div>
        </div>
      </div> 
      <div id="noResult" class="no-result" v-show="isNoResultVisible">
        <div class="icon-no-result"></div>
        <div class="no-result-text"><strong>Kata kunci yang Anda pakai tidak ditemukan.</strong>
          <p>Silahkan ubah kata kunci lain atau periksa koneksi internet Anda.</p>
        </div>
      </div>
    </div>
    <vue-delete-history-Modal v-show="isDeleteHistoryModalVisible" 
      @showDeleteHistoryModal="DeleteHistoryModalStatus($event)"></vue-delete-history-Modal> 
    <vue-error-modal 
    v-if="isErrorModalVisible"
    :errorText="errorText"
    @showErrorMessageModal="isErrorModalVisible = false"> 
  </vue-error-modal> 
  </section>
</template>

<script>
/* eslint-disable */ 
import axios from 'axios'
import * as cookies from '@/util/cookies'
import DeleteHistoryModal from '@/components/homepage/DeleteHistoryModal' 
import errorModal from '@/components/modals/errorModal' 
//import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'; 

export default {
  name: 'LocationSearch', 
  components:{
    vueDeleteHistoryModal: DeleteHistoryModal,
    vueErrorModal: errorModal,
  },
  props:{
    selectedLocation:{}
  },
  data () {
    return { 
      isLocationResultVisible: false,
      isNearmeBarVisible: true,
      isPopularDestinationVisible: true,
      isNoResultVisible: false,
      isLatestSearchVisible: false,
      locationKeyword: '',
      locationResult: [],
      popularDestination: [],
      dataCookieHistory: [],
      isDeleteHistoryModalVisible: false,
      errorText:'Error Message',
      isErrorModalVisible:false,
      delayTimer: 0
    }
  },
  watch: {
    isLocationResultVisible: function(val){
      if (val) {
          //BodyScrollLock.disableBodyScroll(this.$refs.locationContent)
      }
      else {
          //BodyScrollLock.enableBodyScroll(this.$refs.locationContent)
      }
    }
  },
  mounted () {
    this.popularDestination = [ {maintext:"Jakarta",subtext:"Kota (1213 Hotel)",type:"icity",url:"kenCd=JK&lrgCd=JK0100"},
                                {maintext:"Bali",subtext:"Kota (4434 Hotel)",type:"icity",url:"kenCd=BA&lrgCd=BA0100"},
                                {maintext:"Bandung",subtext:"Kota (945 Hotel)",type:"icity",url:"kenCd=JB&lrgCd=JB0100"},
                                {maintext:"Jogja",subtext:"Kota (942 Hotel)",type:"icity",url:"kenCd=JT&lrgCd=JT0200"},
                                {maintext:"Surabaya",subtext:"Kota (465 Hotel)",type:"icity",url:"kenCd=JI&lrgCd=JI0100"} ]
    this.dataCookieHistory = cookies.default.getCookieHistory()
    // if(this.dataCookieHistory != null) this.isLatestSearchVisible = true
  },
  // beforeDestroy: function(){
    //BodyScrollLock.clearAllBodyScrollLocks()
  // },
  computed:{ 
    searchQueriesFilter(){ 
      return this.locationKeyword.split(' ')
    }
  },
  methods: { 
    highlightText: function(dt, keys, cls){
      if (!dt || !keys.length) {
          return false
      }
      const tempDt = dt.toLowerCase()
      let res = ''
      let pos = -1
      let lastIdx = 0 
      
      // Remove duplicate keys to reduce loop
      keys = keys.filter(function(element, index, array){
          return (index == array.lastIndexOf(element))
      })
      
      do {
        let prevPos
        let prevKey = ''
        let key = ''
        
        // Check which word and pos that matches will be highlighted
        keys.forEach(function(e){
          if (e) {  
            let tempPos = tempDt.indexOf(e, pos)  
            if (tempPos > -1) {
                if (typeof prevPos == "undefined"  || tempPos < prevPos || tempPos == prevPos && e.length >= key.length ) {
                    prevPos = tempPos 
                    key = e
                }
            }            
          }
        })
        pos = prevPos
        
        // If the word match, highlight it & combine with the word before
        if (pos > -1) {
          res += dt.substr(lastIdx, pos-lastIdx)
          res += `<mark class='text__highlight ${cls}'>${dt.substr(pos, key.length)}</mark>`
          pos = pos + key.length
          
          lastIdx = pos
        }
      } while (pos > -1)
      res += dt.substr(lastIdx, dt.length - lastIdx) // Take the remaining word
        
      return res
    },
    setSelectedLocation(item){
      this.$emit("locationSearched",{'selectedLocation':item})
    },
    getDataLocationSearch: function (param) {
        return axios.get(`//htlsearch.pegipegi.com/HotelSearchAPI/v5/autocomplete?keyword=`+ param.keywordIn+ `&traceId=` + param.id + `&actionUrl=SPnullURL&checkInDate=` + param.checkInDate + `&stayCount=` + param.stayCount + `&roomCount=` + param.roomCount)
    }, 
    doSearch: function () {
      let self = this
      clearTimeout(this.delayTimer);
      this.delayTimer = setTimeout(function() {
        if(self.locationKeyword.length > 0){ 
          var arrayData = {}
          arrayData['keywordIn'] = encodeURIComponent(self.locationKeyword.replace(/[’_]/g,"'"))
          arrayData['id'] = self.makeId()
          arrayData['checkInDate'] = ''
          arrayData['stayCount'] = ''
          arrayData['roomCount'] = ''
          self.getDataLocationSearch(arrayData).then(resp => {
              // console.log(resp.data.data.items.autocomplete)
              self.displayLocationResult(resp.data.data.items.autocomplete)
          }).catch(err => console.log(err))
        }
        else{
          self.locationResult = []
          self.isLocationResultVisible = false
          self.isNearmeBarVisible = true
          self.isPopularDestinationVisible = true
          // self.isLatestSearchVisible = true
        }
      },250);
    },
    displayLocationResult: function(data){
      this.isLocationResultVisible = true
      this.isNearmeBarVisible = false
      this.isPopularDestinationVisible = false
      this.isLatestSearchVisible = false
      this.locationResult = []
      if (data.length > 0 ){
        this.isNoResultVisible = false
        this.locationResult = data
      }
      else{
        this.isNoResultVisible = true
        this.isLocationResultVisible = false
      }
    },
    makeId: function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
      for (var i = 0; i < 17; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length))
      return text
    },
    selectLocation: function(item) {
      var obj = []
      if(!item.maintext){
        if (item.objectType == 1){
          obj.maintext = item.city
          obj.subtext = 'Kota'
          obj.hotelNumText = ' (' + item.count + ' Hotel)'
          obj.type = 'icity'
        }
        else if (item.objectType == 2){
          obj.maintext = item.area
          obj.subtext = 'Area: ' + item.city
          obj.hotelNumText = '(' + item.count + ' Hotel)'
          obj.type = 'iarea'
        }
        else if (item.objectType == 3){
          obj.maintext = item.hotel_name
          obj.subtext = 'Hotel: '
          obj.type = 'ihotel'
        }
        else if(item.objectType == 4){
          obj.maintext = item.attraction
          obj.subtext = 'Landmark: '
          obj.hotelNumText = '(' + item.count + ' Hotel)'
          obj.type = 'ilandmark'
        }
        obj.url = item.url
      }
      else{
        obj = item
      }
      this.setSelectedLocation(obj)
      this.closeLocationSearch()
    },
    clearSearch: function(){
      this.locationKeyword = ''
      this.isNoResultVisible = false
      this.isLocationResultVisible = false
      this.isPopularDestinationVisible = true
      this.isNearmeBarVisible = true
      // this.isLatestSearchVisible = true
    },
    getNearLocation: function(){
      if(navigator.geolocation){
        var options = {timeout:3000};
        navigator.geolocation.getCurrentPosition(this.showNearLocation,this.gpsErrorHandler,options);
      }
    },
    showNearLocation: function(position) { 
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      var obj = {}
      obj.maintext = "Hotel di sekitar saya"
      this.selectLocation(obj)
    },
    gpsErrorHandler: function(err) {
      if(err){
        this.errorText = "GPS di ponsel Anda tidak aktif. Segera aktifkan untuk mengunakan fitur ini"
        this.isErrorModalVisible = true
      }
      // if(err.code == 1) {
      //     alert("Aktifkan GPS di perangkat Anda untuk menggunakan fitur ini");
      // }else if(err.code == 2) {
      //     alert("Error: Posisi tidak tersedia! Aktifkan GPS pada perangkat Anda, clear change browser dan muat ulang laman ini!");
      // }else if(err.code == 3){
      //     alert("Gunakan pengaturan GPS akurasi tinggi untuk menggunakan fitur ini");
      // }
    },
    closeLocationSearch: function() { 
      this.isScrollDisabled(false)
			let self = this
      setTimeout(function() {
				self.$emit('showLocationSearch',false); 
				setTimeout(function(){
					self.clearSearch()
				},200)
			},200)
    },
    DeleteHistoryModalStatus(event){
      this.isDeleteHistoryModalVisible = event.status 
      this.isScrollDisabled(event.status)  
      if(event.clear & event.clear !== undefined){
        cookies.default.clearCookieInPage()
        this.isLatestSearchVisible = false
      }
    },
  }, 
}
</script>

<style lang="scss">
@import '@/assets/css/modal.scss';

$PrimariOrange : #f97432;
$SmokeGrey : #f1f1f1;

body {
  background: $SmokeGrey !important;
  font-family: Lato !important;
}
#locationSearchBox{
  display:block;
  align-items: center;
  overflow:hidden;
  background: $SmokeGrey;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  .location-header{
    display: block;
    position: fixed; 
    padding: 8px;
    padding-right: 4px; 
    background-color: #ffffff;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 40px;
    z-index: 2;
  }
  .exit-icon{  
    float: left; 
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px; 
  } 
  .search-box{ 
    padding: 0px; 
    border: none;
    display: inline-block;
    position: relative;
    box-shadow:none;
    background-color: #e9ebee;
    border-radius: 12px;
    margin-left: 40px; 
    padding-left: 10px;
    padding-right: 4px;
    color: #8996a3;
    width: calc(100% - 40px);
    height: 26px;
    input{
      padding: 0px;
      width: calc( 100% - 36px); 
      font-size: var(--font-mobile-md);
      height: 26px;
      background-color: transparent;
      box-shadow:none; 
      outline: none;
      border: none;
      ::placeholder{
        color: #8996a3; 
      }
    }
    .home-icon{
      float: right;  
      margin-top: -18px; 
    }
  }
  .location-content{
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 36px;
    background-color: #f1f1f1; 
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-overflow-scrolling: touch;
  }
}  
.text__highlight {
  background: none !important;
  color: $PrimariOrange !important;
  border-radius: 0px;
  padding: 0 !important; 
}
.search-card {
  padding: 10px 5px;
  background: #fff;
}
.nearme-bar {
  height: 40px;
  margin: 0 0 4px !important;
  position: relative;
  .nearme-text {
    font-size: var(--font-mobile-md);
    color: $PrimariOrange;
    margin-left: 8px;
  }
  .icon-nearme { 
    position: absolute;
    right: 0px;
    top: 8px; 
  }
}
.item-search {
  height: auto;
  margin: 4px 0 !important;
  .item {
    margin: 0 8px 0 32px !important;
    padding: 0 !important;
    width: 100%;
  }
}
.result-search {
  height: auto;
  margin: 0 !important;
  padding: 6px 6px 6px 13px !important;
  width: 100%;
}
.no-result {
  height: 100%;
  margin: 0 !important;
  width: 100%;
  position: fixed;
  background: $SmokeGrey;
  .icon-no-result {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/icon_install_bar.png') no-repeat;
    background-position: 0 0;
    width: 18px;
    height: 18px;
    background-size: 86px;
    position: relative;
    margin: 30% auto 40px;
  }
  .no-result-text {
    text-align: center;
    font-size: var(--font-mobile-md);
    width: 90%;
    margin: auto;
    p {
      font-size: var(--font-mobile-sm);
      margin-top: 8px;
    }
  }
}
.popular-search {
  height: auto; 
  margin: 0px; 
  margin-bottom:  8px; 
  .popular-item {
    margin: 0 8px 0 32px !important;
    padding: 0 !important;
    width: 100%;
    .popular-box {
      width: fit-content;
      border-radius: 4px;
      border: solid 1px #efefef;
      padding: 5px 6px;
      margin: 8px 8px 8px 0 !important;
      display: inline-flex !important;
    }
    .popular-text {
      font-size: var(--font-mobile-md);
      color: #1a2734;
      padding: 0 2px 0 6px !important;
    }
    .icon-city {
      width: 18px;
      height: 18px;
      background: url('~@/assets/img/sprite_hotel.png') no-repeat;
      background-position: -71px -59px;
      width: 18px;
      height: 18px;
      background-size: 142px;
      padding: 0 8px !important;
    }
  }
}
.title-bar {
  margin: 0 !important;
  padding: 6px 8px 6px 8px !important;
  width: 100%;
  .title-text {
    font-size: var(--font-mobile-md);
    font-weight: bold;
    color: #1a2734;
    padding: 0 0 0 8px !important;
  }
  .icon-latest {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/sprite_hotel.png') no-repeat;
    background-position: -43px -70px;
    width: 18px;
    height: 18px;
    background-size: 168px;
    padding: 0 !important;
    flex: none !important;
  }
  .icon-popular {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/sprite_hotel.png') no-repeat;
    background-position: -22px -70px;
    width: 18px;
    height: 18px;
    background-size: 168px;
    padding: 0 !important;
    flex: none !important;
  }
  .icon-city {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/sprite_hotel.png') no-repeat;
    background-position: -72px -59px;
    width: 18px;
    height: 18px;
    background-size: 142px;
    padding: 0 !important;
    flex: none !important;
  }
  .title-remove {
    font-size: var(--font-mobile-md);
    color: $PrimariOrange;
    padding: 0 !important;
    text-align: right;
    position: absolute;
    right: 15px;
  }
}
.item-bar {
  width: 100%;
  margin: 6px 0 !important;
  .item-text {
    padding: 0 0 0 8px !important;
    line-height: 1.14 !important;
    .text-main {
      font-size: var(--font-mobile-md);
      font-weight: bold;
      color: #1a2734;
    }
    .text-sub {
      font-size: var(--font-mobile-sm);
      color: #8996a3;
    }
    span{
      font-size: var(--font-mobile-sm);
      color: #1a2734;
    }
  }
  .icon-item {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/sprite_hotel.png') no-repeat;
    width: 18px;
    height: 18px;
    background-size: 150px;
    padding: 0 !important;
    flex: none !important;
  }
  .iprovince {
    background-position: -56px -62px;
  }
  .icity {
    background-position: -75px -62px;
  }
  .ilandmark {
    background-position: -94px -62px;
  }
  .iarea {
    background-position: -38px -43px;
  }
  .ihotel {
    background-position: -112px -62px;
  }
  .chevron-right {
    width: 18px;
    height: 18px;
    background: url('~@/assets/img/sprite_hotel.png') no-repeat;
    background-position: -59px 0;
    width: 18px;
    height: 18px;
    background-size: 168px;
    padding: 0 !important;
    flex: none !important;
    position: absolute;
    right: 15px;
  }
}
</style>
