<template>
    <v-touch id="partner-carousel"
        v-on:panmove="onDrag"
        v-on:panstart="onDragStart" 
        v-on:panend="onDragEnd" 
        v-bind:pan-options="{ direction: 'horizontal'}" 
        class="pg-carousel-container" ref="container">
        <div class="flex flex-center">
            <div v-if="useNavigation" class="navigation-buttons" v-show="activeTab" @click="goPrev" prev><img alt="prev" src="@/assets/img/partnercarousel/chevron-left@3x.png"></div>
            <div class="slider-container" :style="sliderTransition" >
                <PartnerSlide v-for="(slide,index) in this.slides" 
                    :key="index" 
                    :slidewidth="slidewidth" 
                    :activeTab="activeTab"
                    :slide="slide"
                />
            </div>
            <div 
                v-if="useNavigation" 
                class="navigation-buttons" 
                v-show="activeTab != slides.length-1" 
                @click="goNext" next><img src="@/assets/img/partnercarousel/chevron-right@3x.png" alt="Next" ></div>
        </div>

        <div v-if="slides.length >1" class="slider-pagination">
            <i  
                class="carousel-dot" 
                v-for="(slide,index) in this.slides" 
                :class="{
                    dotActive : index == activeTab 
                }" 
                :key="index"
            ></i>
        </div>
    </v-touch>
</template>

<script>
import PartnerSlide from './PartnerSlide'
//import VueTouch from 'vue-touch'
import Vue from 'vue'
//Vue.use(VueTouch)


export default {
    name:"PartnerCarousel",
    props:{
        slidewidth:{
            default:100
        },
        slideoffset:{
            default:0
        },
        useNavigation:{
            default:true
        },
        slides: {
            type: Array,
            default() {
                return [];
            }
        }
    },
    components: {
        PartnerSlide
    },
    data(){
        return{
            activeTab: 0,
            dragOffset:0,
            isDragging:false,
        }
    },
    computed:{
        sliderTransition: function(){
            let width = this.useNavigation ? `width:86%;` : `width:100%;`
            let trans = this.isDragging ? `transition : none;` : `transition:transform .5s;`
            return width + trans + `transform: translate3d(calc(-${this.activeTab *this.slidewidth}% + ${this.slideoffset}% + ${this.dragOffset}px),0,0);`
        }
    },
    methods:{
        goNext: function(){ 
            let numItems = this.slides.length;
            if(this.activeTab != numItems-1) {
                this.activeTab = this.activeTab+=1
            }
        },
        goPrev: function(){
            if(this.activeTab != 0) 
            {
                this.activeTab-=1
            }
        },
        onDrag:function(event){
            this.dragOffset = event.deltaX
        },
        onDragEnd:function(event){
            this.isDragging=false
            if(event.deltaX > 100) this.goPrev()
            else if (event.deltaX < -100) this.goNext();
            this.dragOffset=0
        },
        onDragStart:function(){
            this.isDragging = true
            this.dragOffset=0
        }
    }
}
</script>

<style lang="scss">
.pg-carousel-container{
    width:100%;
    overflow:hidden;
    position:relative;
}
#partner-carousel{
    .flex{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    }

    .flex-center{
    align-items:center !important;
    justify-content: center !important;
    text-align:center !important;
    }
    .div-slider{
    display:flex;
    flex-direction:row;
    flex-wrap : wrap;
    justify-content:center;
    margin: auto;
    }
    .carousel-card {
    flex: 1 0 70%;
    transition: transform .3s;
    }
    .inactive{
    opacity:.5; 
    transform: scale(.8);
    transition:all .4s;
    }
    .partner-container{
    width:20%;
    text-align:center;
    }
    .partner-icon{
    object-fit:contain;
    width:48px;
    height:48px;
    } 
    .carousel-dot{
    margin: 10px 5px;
    background: #bdbdbd;
    border-radius:50%;
    height:8px;
    width:8px;
    transition: all .3s;
    }
    .dotActive{
    background:#F97432 !important;
    }
    .slider-container{
    display:flex;
    flex-direction: row;
    position:relative;
    transition:transform .3s;
    /* align-items:center; */
    }

    .slider-pagination{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    }

    .slider-buttons{
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    z-index: 1;
    }
    .navigation-buttons {
    text-align:center;
    width:7.5%;
    z-index:1;
    }
    .navigation-buttons img{
        max-width: 24px;
    }
}

</style>
