<template>
    <div :class="{inactive : !isActive}"  class="carousel-card" :style="this.getCustomStyle()">
        <div class="div-slider" 
            :style="{
                'width' : slidewidth+'%',
            }"
            >
            <div v-for="item in slide" :key="item.id" class="partner-container">
                <img :alt="item.label" :src="require(`@/assets/img/partnercarousel/${item.url}`)" class="partner-icon" >
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"PartnerSlide",
    props:[
        "slide",
        "activeTab",
        "slidewidth",
        ],
    computed:{
        isActive: function(){
            return this.activeTab == this.$vnode.key ? true : false
        }
    },
    methods:{
        getCustomStyle: function(){
            let basis = `flex-basis: ${this.slidewidth}%;`
            return basis
        }
    }
}
</script>

