<template>
	<div id="priceFilter" class="container">
		<div class="row"><i class="home-icon icon-price"></i> <strong>Kisaran Harga</strong></div>
		<div class="row">
			<div class="col-6">Harga Terendah</div>
			<div class="col-6">Harga Tertinggi</div>
		</div>
		<div class="row">
			<div class="col-6">
				<input id="lowestPrice"
					type="text"
					name="lowestPrice"
					class="form-control ellipsis" placeholder="Rp 0"
					v-model="lowestPrice"
					@input="setPriceOnInput()"
					@focusout="checkPriceInput()">
			</div>
			<div class="col-6">
				<input id="highestPrice"
					type="text"
					name="highestPrice"
					class="form-control ellipsis" 
					placeholder="Rp 0"
					v-model="highestPrice"
					@input="setPriceOnInput()"
					@focusin="removePlusSign()"
					@focusout="checkPriceInput()">
			</div>
		</div>
		<div class="row">
			<vue-slider 
				v-model="priceSlider"
				:min="minPrice"
				:max="maxPrice"
				:interval="10000"
				:enable-cross="false"
        :contained="true"
				:process-style="{ backgroundColor: '#fb9d7b' }"
				@change="setPriceDisplay(priceSlider[0],priceSlider[1]), checkPrice(), addPlusSign()">
				<template v-slot:dot="{ priceSlider, focus }">
					<div :class="['custom-dot', { focus }]"></div>
				</template>
			</vue-slider>
		</div>
	</div>
</template>
<script>
/* eslint-disable */
import { mapState, mapMutations } from 'vuex'
//import VueSlider from 'vue-slider-component'
import 'vue-slider-component/dist-css/vue-slider-component.css'

export default {
  name: 'PriceFilter',
  props:{
    priceValue:{}
  },
  data() {
    return {
      lowestPrice: '',
      highestPrice: '',
      priceSlider: [],
      maxPrice: 5000000,
      minPrice: 0,
      plusFlag: true
    }
  }, 
  methods: { 
    setPriceValue(val){
      if(this.highestPrice.includes('+'))
        val.splice(1, 1, this.maxPrice+1) 
      this.$emit("updatePriceValue",val )
      if(val[0] == this.minPrice && val[1] > this.maxPrice)
        this.$emit("setFilterCount", 0)
      else
        this.$emit("setFilterCount", 1)
    },
    resetPrice: function() {
      this.changeSlider(this.minPrice, this.maxPrice)
      this.setPriceDisplay(this.minPrice, this.maxPrice)
      this.checkPrice()
      this.addPlusSign()
      this.$emit("setFilterCount", 0)
    },
    toRupiah: function(num) {
      return "Rp " + num.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")
    },
    setPriceDisplay: function(lowestNum,highestNum) {
      this.lowestPrice = this.toRupiah(lowestNum)
      this.highestPrice = this.toRupiah(highestNum)
      this.setPriceValue([lowestNum,highestNum])
    },
    checkPrice: function() {
      if(this.priceSlider[0] == this.minPrice && this.priceSlider[1] < 10000){
        let lowestNum = this.minPrice
        let highestNum = lowestNum + 10000
        let self = this
        setTimeout(function() {
          self.changeSlider(lowestNum, highestNum)
          self.setPriceDisplay(lowestNum, highestNum)
          self.checkPrice()
        },200)
      }
      if(this.priceSlider[0] == this.priceSlider[1] && this.priceSlider[1] < this.maxPrice){
        let lowestNum = this.minPrice
        let highestNum = this.minPrice
        if((this.priceSlider[1] - 10000) >= this.minPrice){
          lowestNum = this.priceSlider[1] - 10000
          highestNum = this.priceSlider[1]
        }
        else{
          lowestNum = this.minPrice
          highestNum = this.minPrice + 10000 
        }
        let self = this
        setTimeout(function() {
          self.changeSlider(lowestNum, highestNum)
          self.setPriceDisplay(lowestNum, highestNum)
          self.checkPrice()
        },200)
      }
    },
    changeSlider: function(lowestNum,highestNum) {
      if(highestNum >= this.maxPrice)
        highestNum = this.maxPrice
      this.priceSlider = [lowestNum,highestNum]
    },
    setPriceOnInput: function() {
      let lowestNum = +(this.lowestPrice.replace(/\D/g,''))
      let highestNum = +(this.highestPrice.replace(/\D/g,''))
      if(highestNum > this.maxPrice && lowestNum >= this.maxPrice)
        this.changeSlider(this.maxPrice, this.maxPrice)
      else if(lowestNum >= this.maxPrice)
        this.changeSlider(this.maxPrice, highestNum)
      else if(highestNum > this.maxPrice) 
        this.changeSlider(lowestNum, this.maxPrice)
      else
        this.changeSlider(lowestNum, highestNum)
      this.setPriceDisplay(lowestNum, highestNum)
    },
    checkPriceInput() {
      let lowestNum = +(this.lowestPrice.replace(/\D/g,''))
      let highestNum = +(this.highestPrice.replace(/\D/g,''))
      if(highestNum > this.maxPrice || lowestNum >= this.maxPrice)
        this.plusFlag = true
      else
        this.plusFlag = false
      if(this.priceSlider[0] >= this.priceSlider[1]){
        highestNum = this.priceSlider[0]
        lowestNum = this.priceSlider[1]
        if(lowestNum < this.minPrice) lowestNum = this.minPrice
      }
      if(lowestNum > this.maxPrice) lowestNum = this.maxPrice
      if(highestNum > this.maxPrice) highestNum = this.maxPrice
      this.changeSlider(lowestNum, highestNum)
      this.setPriceDisplay(lowestNum, highestNum)
      this.checkPrice()
      if(this.plusFlag){
        this.highestPrice += "+"
      }
    },
    removePlusSign: function() {
      this.highestPrice = this.highestPrice.replace("+","")
    },
    addPlusSign: function() {
      if(this.priceSlider[1] == this.maxPrice && !this.highestPrice.includes('+')){
        this.highestPrice += "+"
      }
    },
  }, 
  watch: {
    highestPrice (){
      this.setPriceValue([+(this.lowestPrice.replace(/\D/g,'')),+(this.highestPrice.replace(/\D/g,''))])
    },
    lowestPrice (){
      this.setPriceValue([+(this.lowestPrice.replace(/\D/g,'')),+(this.highestPrice.replace(/\D/g,''))])
    }
  },
  mounted() {
    let plusFlag = false
    if(this.priceValue[1] > this.maxPrice){
      plusFlag = true
      this.priceValue[1] = this.maxPrice
    }
    this.changeSlider(this.priceValue[0], this.priceValue[1])
    this.setPriceDisplay(this.priceValue[0], this.priceValue[1])
    if(plusFlag)
      this.addPlusSign()

    document.getElementsByClassName('vue-slider-dot')[1].style.marginLeft = '8px'
  },
}
</script>
<style lang="scss">
$themeColor: #3498db;

@import '~vue-slider-component/lib/theme/default.scss';

.vue-slider {
  width: 100% !important;
  margin: 8px 10px 0px 40px !important;
}
.vue-slider-rail {
  position: relative !important;
  height: 5px !important;
}
.vue-slider-dot {
  width: 20px !important; 
  height: 20px !important;
}
.custom-dot {
  width: 100%;
  height: 100%;
  border-radius: 0;
  transition: all .3s;
  //background: url('@/assets/img/icon_home.png') no-repeat;
  background-size: 165px;
  background-position: -138px -138px;
  vertical-align: middle;
}
#priceFilter{
	font-size: 14px;
	&.container > .row {
      padding: 3px 0px;
      text-align: left;
      line-height: 24px;
      strong {
        margin-left: 6px;
      }
	}
	&.container > .row > .col-6{
			padding: 0 0 0 30px;
	}
	&.container > .row > .col-2 {
			padding: 0 0 0 30px;
			margin: auto;
	}
	&.container > .row > .col-6 > input {
			height: 32px;
      font-size: 14px;
      font-weight: bold;
      padding: 8px;
			&:focus {
					-webkit-box-shadow: none;
					box-shadow: none;
			}
	}
}
</style>
