<template>
	<div id="starFilter" class="container">
		<div class="row"><i class="home-icon icon-star"></i> <strong>Bintang</strong></div>
		<div class="row">
			<div class="star-box">
				<div 
					:class="[ isStarActive[0] ? 'star-active' : '', 'star-item']" 
					@click="selectStar(0, !isStarActive[0])">
					<div :class="[ isStarActive[0] ? 'icon-star-active' : 'icon-star-inactive' ]"></div>
					<span :class="[ isStarActive[0] ? 'text-star-active' : '' ]">1</span>
				</div>
				<div
					:class="[ isStarActive[1] ? 'star-active' : '', 'star-item']"
					@click="selectStar(1, !isStarActive[1])">
					<div :class="[ isStarActive[1] ? 'icon-star-active' : 'icon-star-inactive' ]"></div>
					<span :class="[ isStarActive[1] ? 'text-star-active' : '' ]">2</span>
				</div>
				<div
					:class="[ isStarActive[2] ? 'star-active' : '', 'star-item']"
					@click="selectStar(2, !isStarActive[2])">
					<div :class="[ isStarActive[2] ? 'icon-star-active' : 'icon-star-inactive' ]"></div>
					<span :class="[ isStarActive[2] ? 'text-star-active' : '' ]">3</span>
				</div>
				<div
					:class="[ isStarActive[3] ? 'star-active' : '', 'star-item']"
					@click="selectStar(3, !isStarActive[3])">
					<div :class="[ isStarActive[3] ? 'icon-star-active' : 'icon-star-inactive' ]"></div>
					<span :class="[ isStarActive[3] ? 'text-star-active' : '' ]">4</span>
				</div>
				<div
					:class="[ isStarActive[4] ? 'star-active' : '', 'star-item']"
					@click="selectStar(4, !isStarActive[4])">
					<div :class="[ isStarActive[4] ? 'icon-star-active' : 'icon-star-inactive' ]"></div>
					<span :class="[ isStarActive[4] ? 'text-star-active' : '' ]">5</span>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
/* eslint-disable */
 
export default {
	name: 'StarFilter',
	props:{
		starValue:{}
	},
	data() {
		return {
			isStarActive: [],
			filterCount: 0
		}
	}, 
  	methods: { 
		setStarValue(val){
			this.$emit("updateStarValue",val)
		},
		resetStar: function() {
			for(var i = 0; i <= 5; i++)
				this.selectStar(i,false)
			this.filterCount = 0
			this.$emit("setFilterCount", this.filterCount)
		},
		selectStar: function(starNum, value) {  
			this.isStarActive.splice(starNum, 1, value) 
			if(value)
				this.filterCount+=1
			else
				this.filterCount-=1
			this.$emit("setFilterCount", this.filterCount)
			this.setStarValue(this.isStarActive)
		},
	},
	watch: {
		starValue() {
			this.isStarActive = this.starValue
		}
	},
	mounted() {
		this.isStarActive = this.starValue 
	}
}
</script>
<style lang="scss">

#starFilter{
	font-size: 14px;
	&.container > .row {
		padding: 3px 0px;
		text-align: left;
		line-height: 24px;
		strong {
			margin-left: 6px;
		}
	}
	.star-box {
		display: flex;
		padding: 0 0 0 30px;
		width: 100%;
		.star-item {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			border: solid 1px #ededed;
			background-color: #ffffff;  
			margin: auto;
			padding: 6px 0;
			padding-left: 3px;
			.icon-star-inactive {
				width: 20px;
				height: 20px;
				display: inline-block;
				//background: url('@/assets/img/icon_home.png') no-repeat;
				background-size: 180px;
				background-position: -68px -104px;
				vertical-align: middle;
			}
			.icon-star-active {
				width: 20px;
				height: 20px;
				display: inline-block;
				//background: url('@/assets/img/icon_home.png') no-repeat;
				background-size: 180px;
				background-position: -46px -104px;
				vertical-align: middle;
			}
			span {
				padding-left: 2px;
				font-size: 16px;
				color: #8996a3
			}
			.text-star-active {
				font-weight: bold;
				color: #1a2734 !important;
			}
			&.star-active {
				background-color:#fff3ee;
			}
		}
		:first-child {
			margin-left: 0;
		}
		:last-child {
			margin-right: 0;
		}
	}
}
</style>
