<template>
     <div class="footer flex-center">
        <div class="footer-section" >
          <div class="flex flex-center" style="width:100%;">
           <img style="max-width:80px;" src="@/assets/img/logo-primary-white.svg">
          </div>
          <a href="https://www.pegipegi.com/mobile/info/faq/index.html" class="footer-items" style="margin-top:16px;">
            <label>FAQ</label>
            <img src="@/assets/img/chevron-right-white.svg">
          </a>
          <a href="https://www.pegipegi.com/mobile/info/tentang-kami.html" class="footer-items">
            <label>Tentang Kami</label>
            <img src="@/assets/img/chevron-right-white.svg">            
          </a>
          <a href="https://www.pegipegi.com/mobile/info/support.html" class="footer-items">
            <label >Contact Us</label>
            <img src="@/assets/img/chevron-right-white.svg">          
          </a>
          <a href="https://www.pegipegi.com/team/career.html" class="footer-items">
            <label >Karir</label>
            <img src="@/assets/img/chevron-right-white.svg">          
          </a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdD9VZDdHXLB_n9YlztH05rVHkbTtKaLNX3V6Kdk-vKjapzHQ/viewform" class="footer-items">
            <label >Register Hotel</label>
            <img src="@/assets/img/chevron-right-white.svg">          
          </a>
          <a href="https://wwws.pegipegi.com/extranet" class="footer-items">
            <label>Mitra Login</label>
            <img src="@/assets/img/chevron-right-white.svg">          
          </a>
          
          <div class="flex flex-center" style="margin-top:24px;">
            <h2 style="width:100%;">Temukan Kami</h2>
            <a href="https://www.facebook.com/Pegipegi/" class="social-icons"><img alt="facebook" src="@/assets/img/facebook.svg" ></a>
            <a href="https://www.instagram.com/pegi_pegi/" class="social-icons"><img alt="instagram" src="@/assets/img/instagram.svg"></a>
            <a href="https://twitter.com/pegipegi" class="social-icons"><img alt="twitter" src="@/assets/img/twitter.svg" ></a>
          </div>
        </div>
    </div>
</template>

<script> 
export default {
  name: 'FooterPegi', 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->