<template>
    <transition name="slide">
    <div id="installapp" v-if="showInstall">
        <div id="install-logos" class="row" >
            <img alt="close" src="@/assets/img/close@3x.png"  @click="showInstall = false" class="Close">
            <div id="favicon">
                <img alt="pegipegi" src="@/assets/img/apple-touch-icon.png"/>
            </div>
            <div id="install-text" >
                Pegipegi App untuk<br>
                memudahkan perjalananmu
            </div>
        </div>
        <div class="btn-orange install-btn">
            <!-- <a :href="this.getMobileOperatingSystem()">Download</a> -->
            <a href="//pegipegi.com">Download</a>
        </div>
    </div>
    </transition>
</template>

<script>

export default {
  name: 'InstallBar',
  data () {
    return {
      showInstall: true
    }
  }
}
</script>
