<template>
    <div class="navbar-pegi" ref="navbar">
        <img v-if="showSidebar == false" alt="menu" @click="onNavClick" src="@/assets/img/burger@3x.png">
        <img v-else alt="close" @click="onNavClick" src="@/assets/img/close@3x.png">
        <h1 style="display:none">Pegipegi: Booking Hotel, Tiket Pesawat, dan Kereta Api Murah</h1>
        <img class="logo" src="@/assets/img/normal@3x.png" alt="Pegipegi: Booking Hotel, Tiket Pesawat, dan Kereta Api Murah">
        <div id="user-dropdown" class="text-style-1 text-style-2">
            <a v-if="userlogin != ''" href="https://serviceauth.pegipegi.com/account">{{this.userlogin}}</a>
            <a v-else href="https://serviceauth.pegipegi.com/login?resource=sp_main_homepage&redirect=//https://www.pegipegi.com/"><img alt="profile" src="@/assets/img/line-profile.png"></a>
        </div>
    </div>
</template>

<script>
export default {
  name: 'NavBar',
  props:["showSidebar"],
  data(){
      return {
          userlogin: ""
      }
  },
  methods:{
    onNavClick: function(){
        this.$emit("navigation-click-on")
    }
  },
  mounted(){
    var usernameSso = this.getCookieSso("sso")
    if ("" != usernameSso) {
      let split = usernameSso.split("+")
      this.userlogin = split[0]
    }
  }
}
</script>
<style scoped>
.logo{
object-fit: contain;
position:absolute;
left:50%;
width: 108.3px;
transform: translateX(-50%);
}
#user-dropdown{
position:relative;
width:30%;text-align:right;text-overflow:ellipsis;overflow:hidden;color:#f97432;
}
#user-dropdown a{
font-size: 14px;
color: #F97432;
}
.dropdown-container{
position:absolute;
background:lightgrey;
right:0px;
border-radius:4px;
z-index:1;
}
.navbar-pegi{
background: white;
padding:10px 8px;
position:sticky;
top:0;
z-index: 2;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
box-shadow:-1px 2px 7px -2px rgba(89,89,89,.46);
}
.navbar-pegi img:nth-child(1){
max-width: 24px;
}
.text-style-1 {
  font-family: Lato-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4f4f4e;
} 
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
