<template>
    <div overlay @click="removeOverlay">
        <transition name="opac"> 
          <div class="overlay" v-if="overlayActive">
             <i id="close-sidebar" class="fa fa-times fa-2x" style="color:white"></i>
          </div>
        </transition>
    </div>
</template>
<script>
export default {
    name:"Overlay",
    props:{
        overlayActive:{
            default:false
        }
    },
    methods:{
        removeOverlay:function(){
            this.$emit("removeOverlay")
        },
    }
}
</script>


