<template>
    <transition name="slide-left"> 
        <div class="sidebar" v-show="showSidebar" style="margin-bottom:20px;">
            <div class="sidebar-section">
                <a href="https://www.pegipegi.com/" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/line-home.png">Home<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
            </div>
            <div class="sidebar-section">
                <a href="https://serviceauth.pegipegi.com/login?resource=sp_main_homepage&redirect=//https://www.pegipegi.com/" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/line-profile.png">{{userlogin || 'Masuk / Daftar'}}<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
            </div>
            <div class="sidebar-section">
                <small class="sidebar-headings">Layanan Kami</small>
                <a href="https://serviceauth.pegipegi.com/account/booking" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/line-my-order.png">Pesanan saya<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
                <a href="https://www.pegipegi.com/hotel" class="flex align-center sidebar-items"><img class="icon" src="@/assets/img/line-hotel.png">Menginap di Hotel<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
                <a href="https://www.pegipegi.com/tiket-pesawat" class="flex align-center sidebar-items"><img class="icon" src="@/assets/img/small-flight.png">Perjalanan Pesawat<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
                <a href="https://www.pegipegi.com/kereta-api" class="flex align-center sidebar-items"><img class="icon" src="@/assets/img/normal-train@3x.png">Perjalanan Kereta<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
            </div>
            <div class="sidebar-section">
                <small class="sidebar-headings">Untuk Kamu</small>
                <a href="https://www.pegipegi.com/promo" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/promo@3x.png">Promo<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
                <a href="https://www.pegipegi.com/travel/" class="flex align-center sidebar-items"><img class="icon" src="@/assets/img/beach.png">Destinasi & Tips<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
            </div>
            <div class="sidebar-section">
                <small class="sidebar-headings">Pusat Informasi</small>
                <a href="https://www.pegipegi.com/mobile/info/support.html" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/customer-service.png">Pusat Bantuan<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
                <a href="https://www.pegipegi.com/mobile/info/subscribe.html" class="flex align-center sidebar-items"><img class="icon" src="@/assets/img/customer-service.png">Berlangganan Email<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
            </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdD9VZDdHXLB_n9YlztH05rVHkbTtKaLNX3V6Kdk-vKjapzHQ/viewform" class="flex align-center sidebar-items" ><img class="icon" src="@/assets/img/edit.png">Register Hotel<img class="pull-right icon" src="@/assets/img/chevron-right@3x.png"></a>
        </div>
    </transition> 
</template>

<script>
export default {
  name: 'SideBar',
  props: ["showSidebar"],
  data(){
      return {
          userlogin: ""
      }
  },
  mounted(){
    var usernameSso = this.getCookieSso("sso")
    if ("" != usernameSso) {
      let split = usernameSso.split("+")
      this.userlogin = split[0]
    }
  }
}
</script>

