<template>
  <div class="floating-bar">
    <div class="floating-bar-btn" @click="onFilterClick">
      <div class="floating-bar-icon --filter"></div>
      <div class="floating-bar-name" v-if="filterCount==0">Filter</div>
      <div class="floating-bar-name" v-else>
        <p class="no-margin">Filter</p>
        <p class="no-margin text-black text-nowrap text-ellipsis"><small>{{filterCount}} Aktif</small></p>
      </div>
    </div>
    <div class="floating-bar-btn" @click="onSortClick">
      <div class="floating-bar-icon --sort"></div>
      <div class="floating-bar-name" v-if="sortParam==''">Urutkan</div>
      <div class="floating-bar-name" v-else>
        <p class="no-margin">Urutkan</p>
        <p class="no-margin text-black text-nowrap text-ellipsis"><small>{{sortParam}}</small></p>
      </div>
    </div>
    <div class="floating-bar-btn" @click="onMapClick">
      <div class="floating-bar-icon --map"></div>
      <div class="floating-bar-name">Peta</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FloatingBottomBar',
    props: {
      filterCount: Number,
      sortParam: String
    },

    data() {
      return {
        
      }
    },

    methods: {
      onFilterClick() {
        this.$emit('filter')
      },
      onSortClick() {
        this.$emit('sort')
      },
      onMapClick() {
        this.$emit('map')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_light: #e9ebee;
  $color_green: #00bb88;

  .floating-bar {
    position: sticky;
    bottom: 16px;
    display: flex;
    margin: 16px 20px 0 20px;
    background: $color_white;
    box-shadow: 0px 2px 7px -2px rgba(89,89,89,.46);
    border-radius: 100px;
    overflow: hidden;
  }

  .floating-bar-btn {
    display: flex;
    padding: 3px 12px;
    height: 42px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    border-right: solid 1px $color_light;
    color: $color_orange;
    font-weight: bold;
  
    &:active {
      background: rgba(0,0,0,.05);
    }

    &:last-child {
      border-right: none;
    }
  }

  .floating-bar-name {
    font-size: 13px;
    flex-grow: 1;
    width: 0;

    @media only screen and (min-width: 321px) {
      font-size: 15px;
    }
  }

  .floating-bar-icon {
    display: inline-block;
    flex-grow: 0;
    width: 16px;
    height: 16px;
    background: url('~@/assets/img/sprite_hotel.png');
    background-size: 128px;
    background-repeat: no-repeat;
    margin-right: 4px;
    
    &.--filter {
      background-position: -32px -14px;
    }

    &.--sort {
      background-position: -48px -14px;
    }

    &.--map {
      background-position: -64px -14px;
    }
  }
</style>

