<template>
  <li class="card-container">
    <div class="card-item" v-if="isLoading">
      <div class="card-thumb">
        <div class="card-thumb-img"></div>
      </div>
      <div class="card-content">
        <div class="card-text shimmer"></div>
        <div class="card-text shimmer"></div>
        <div class="card-text shimmer --half"></div>
      </div>
    </div>
    <div class="card-item" v-else>
      <div class="card-thumb">
        <button class="card-thumb-play" v-if="cardData.isVideoAvailable">
          <img src="@/assets/img/play-btn.png" alt="play">
        </button>
        <img class="card-thumb-img" :src="require('@/assets/img/'+ cardData.img)" :alt="cardData.name">
      </div>
      <div class="card-content">
        <img class="card-badge" v-if="cardData.isFavorite" src="@/assets/img/badge-recommend@3x.png" alt="favorit">
        <h5 class="card-title text-clamp-2 no-margin"><strong>{{cardData.name}}</strong></h5>
        <div class="card-star">
          <div class="card-star-item" v-for="star in cardData.starCount" :key="star"></div>
        </div>
        <p class="no-margin">{{cardData.location}}</p>
        <p class="text-grey text-clamp-2"><small>{{cardData.locationDetail}}</small></p>

        <div class="card-review">
          <div class="card-review-pegipegi">
            <img class="card-review-pegipegi-img text-level" src="@/assets/img/pegi-icon.png" alt="pegipegi">
            <div class="card-review-pegipegi-score">
              <strong>{{cardData.reviews.pegiPegi.score}}</strong>
            </div>
            <div class="text-tiny">
              {{cardData.reviews.pegiPegi.reviewers}}<br/> Ulasan
            </div>
          </div>
          <div class="card-review-tripadvisor">
            <img class="card-review-tripadvisor-img" src="@/assets/img/tripadvisor.png" alt="tripadvisor">
            <div class="card-review-tripadvisor-star">
              <div class="card-star-tripadvisor" :class="{'is-active': star <= cardData.reviews.tripAdvisor.starCount}" v-for="(star, i) in 5" :key="i"></div>
            </div>
            <span class="text-grey"><small> ({{cardData.reviews.tripAdvisor.reviewers}})</small></span>
          </div>
        </div>

        <div class="card-facility">
          <img src="@/assets/img/wifi@3x.png" alt="wifi-facility" class="card-facility-img" v-if="cardData.facilities.isWifiAvailable">
          <img src="@/assets/img/swimming-pool@3x.png" alt="pool-facility" class="card-facility-img" v-if="cardData.facilities.isPoolAvailable">
          <img src="@/assets/img/gym@3x.png" alt="gym-facility" class="card-facility-img" v-if="cardData.facilities.isGymAvailable">
          <img src="@/assets/img/spa-2@3x.png" alt="spa-facility" class="card-facility-img" v-if="cardData.facilities.isSpaAvailable">
          <img src="@/assets/img/parking@3x.png" alt="parking-facility" class="card-facility-img" v-if="cardData.facilities.isParkingAvailable">
        </div>

        <p class="no-margin text-green" v-if="cardData.isRefundable"><small>&#10004; Kamar refundable tersedia</small></p>
        <p class="text-green"><small>&#10004; Kamar luas tersedia</small></p>

        <div class="card-divider"></div>

        <div class="flex flex-spaced">
          <div class="text-left">
            <p class="text-grey no-margin gapped"><small>Harga/malam/kamar<br/>Termasuk Pajak</small></p>
          </div>
          <div class="text-right">
            <p class="text-nowrap no-margin">
              <small class="text-orange">{{cardData.discount*100}}% </small>
              <small class="text-grey text-strike">Rp{{cardData.price | dottedNumber}}</small>
            </p>
            <h5 class="text-orange">Rp{{cardData.discountedPrice | dottedNumber}}</h5>
            <span>
              <img class="text-level" src="@/assets/img/pepepoin@3x.png" alt="pepe-poin">
              <small><strong> {{cardData.pepePoin | dottedNumber}} Poin</strong></small>
            </span>
          </div>
        </div>
      </div>
    </div>
    <card cardImg="searchResult/card-img-1.png" v-if="isPromoCard">
      <p class="no-margin">Harga sudah termasuk pajak. Biar makin hemat, manfaatkan berbagai promosi Pegipegi</p>
    </card>
    <card cardImg="searchResult/card-img-2.png" v-if="isLoginCard">
      <div>
        <p>Masuk sekarang untuk harga spesial untuk member Pegipegi</p>
        <pegi-button
          size="small"
          btnType="pills-primary"
        >
          LOGIN
        </pegi-button>
      </div>
    </card>
  </li>
</template>

<script>
  import Card from '@/components/search-result/Card'
  import Button from '@/components/generals/Button'
  export default {
    name: 'HotelCard',
    components: {
      'card': Card,
      'pegi-button': Button
    },
    props: {
      cardData: Object,
      isLoading: Boolean,
      isPromoCard: Boolean,
      isLoginCard: Boolean,
    },
    data() {
      return {

      }
    },
    filters: {
      dottedNumber(num) {
        return num.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")
      }
    }

  }
</script>

<style lang="scss" scoped>
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_light: #e9ebee;
  $color_green: #00bb88;

  .card-container {
    margin-bottom: 8px;
  }

  .card-item {
    display: flex;
    flex-wrap: nowrap;
    background: $color_white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card-thumb {
    position: relative;
  }

  .card-thumb-play {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background: $color_white;
    padding: 0;
    border-radius: 100px;
    border: none;
    outline: none;
    text-align: center;
    line-height: 0.5;

    img {
      height: 15px;
    }
  }

  .card-thumb-img {
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;
    background: #eee;
  }

  .card-text {

    &.shimmer {
      height: 12px;
      width: 100%;
      background: #eee;
      background-image: linear-gradient(to right, #eee 0%, #ddd 20%, #eee 40%, #eee 100%);
      background-repeat: no-repeat;
      background-size: 800px 104px;
      margin: 12px 0;
      animation: shimmer 1s forwards linear infinite;

      &.--half {
        width: 50%;
      }
    }

  }

  .card-content {
    padding: 4px 8px;
    flex-basis: 80px;
    flex-grow: 1;
  }

  .card-badge {
    width: 55px;
  }

  .card-star-item {
    display: inline-block;
    background: url('~@/assets/img/sprite_hotel.png');
    background-size: 128px;
    background-repeat: no-repeat;
    background-position: -32px -72px;
    width: 16px;
    height: 16px;
  }

  .card-star-tripadvisor {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url('~@/assets/img/sprite_tripadvisor.png');
    background-size: 20px 10px;
    background-position: -10px 0;
    margin-right: 1px;

    &.is-active {
      background-position: 0 0;
    }
  }

  .card-review {
    display: flex;
    margin-bottom: 8px;
  }

  .card-review-pegipegi {
    border: solid 1px $color_light;
    color: $color_orange;
    display: flex;
    padding: 0 3px;
    margin-right: 8px;
    height: 100%;

    &-img {
      margin: 2px 2px 0 0;
    }

    &-score {
      margin-right: 4px;
      padding-right: 4px;
      border-right: solid 1px $color_light;
    }
  }

  .card-review-tripadvisor {
    &-img {
      height: 1em;
      margin-right: 3px;
    }

    &-star {
      display: inline-block;
    }
  }

  .card-facility {
    margin-bottom: 8px;
  }

  .card-facility-img {
    width: 16px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .card-divider {
    height: 1px;
    width: 100%;
    background: $color_light;
  }

  @keyframes shimmer{

    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
  }
</style>
