<template>
  <div class="card" v-if="isCardVisible">
    <img class="card-img" :src="require('@/assets/img/'+cardImg)" alt="card-img">
    <div class="card-content">
      <slot></slot>
    </div>
    <button class="card-dismiss" @click="isCardVisible = false">&times;</button>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: {
      cardImg: String
    },
    data() {
      return {
        isCardVisible: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_light: #e9ebee;
  $color_green: #00bb88;

  .card {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }

  .card-img {
    width: 35%;
  }

  .card-content {
    display: flex;
    align-items: center;
    margin: 0 6px;
    font-size: 14px;
  }

  .card-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    outline: none;
    color: $color_orange;
    font-size: 20px;
  }
</style>

