<template>
  <div>
    <div class="card-checkbox">
      <div 
        class="card-item" 
        v-for="(option, index) in checkboxOptions" 
        :key="option.id"
        :class="{'is-active': option.isChecked, 'is-hidden': index > maxCard && !isCheckboxExpanded}"
        @click="onOptionClick(option.id)"
      >
        <img class="card-item-img" :src="require('@/assets/img/'+option.img)" :alt="option.id">
        <p class="card-item-name text-clamp-2 text-break">{{option.name}}</p>
      </div>
    </div>
    <div class="card-expand" v-if="checkboxOptions.length > 8" @click="isCheckboxExpanded = !isCheckboxExpanded">
      <p>
        <span v-if="!isCheckboxExpanded">Lihat Selengkapnya</span>
        <span v-else>Sembunyikan</span>
      </p>
      <img v-if="!isCheckboxExpanded" src="@/assets/img/searchResult/chevron-down@3x.png" alt="more">
      <img v-else src="@/assets/img/searchResult/chevron-up@3x.png" alt="more">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CardCheckbox',
    props: {
      checkboxOptions: Array
    },
    data() {
      return {
        isCheckboxExpanded: false,
        maxCard: null
      }
    },
    methods: {
      onOptionClick(id) {
        for (let i=0 ; i<this.checkboxOptions.length ; i++) {
          if (this.checkboxOptions[i].id === id) 
            this.checkboxOptions[i].isChecked = !this.checkboxOptions[i].isChecked
        }
        this.$emit('cardCheckboxOptionClick', this.checkboxOptions)
      },
      onScreenResize() {
        screen.width > 320 ? this.maxCard = 7 : this.maxCard = 5
      }
    },

    mounted() {
      this.onScreenResize()
      window.addEventListener("resize", this.onScreenResize)
    },

    destroyed() {
      window.removeEventListener("resize", this.onScreenResize)
    }
  }
</script>

<style lang="scss" scoped>
  $color_border: #eaeaea;
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_text: #4f4e4e;
  $color_light: #e9ebee;

  .card-checkbox {
    // GRID LAYOUT
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 10px;

    // @media only screen and (min-width: 321px) {
    //   grid-template-columns: 1fr 1fr 1fr 1fr;
    // }

    // FLEX LAYOUT
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    
  }
  
  .card-item {
    // FLEX LAYOUT
    width: calc(33.33% - 10px);
    margin: 5px;

    padding: 10px 2px;
    height: 80px;
    border: solid 2px $color_border;
    border-radius: 4px;
    text-align: center;

    &.is-active {
      background: #FFF3EE;
    }

    &.is-hidden {
      display: none;
    }

    // FLEX LAYOUT
    @media only screen and (min-width: 321px) {
      width: calc(25% - 10px);
    }
  }

  .card-item-img {
    display: block;
    height: 24px;
    width: 100%;
    margin-bottom: 4px;
    object-fit: contain;
  }

  .card-item-name {
    margin: 0;
    font-size: 12px;
    line-height: 1;
  }

  .card-expand {
    margin-top: 12px;
    color: $color_orange;
    text-align: center;

    p {
      display: inline-block;
      margin-right: 8px;
    }

    img {
      display: inline-block;
      height: 1em;
    }
  }
</style>


