<template>
  <div class="pegi-checkbox">
    <label v-for="option in checkboxOptions" :key="option.id" class="pegi-checkbox-option" :for="option.id">
      <input 
        class="pegi-checkbox-input" 
        type="checkbox" 
        v-model="selected"
        :id="option.id" 
        :name="name" 
        :value="option.id"  
        @change="onInputChange">
      <span class="pegi-checkbox-btn"></span>
      <span>{{option.name}}</span>
    </label>
  </div>  
</template>

<script>
export default {
  name:"Checkbox",
  props: {
    checkboxOptions: Array,
    name: String
  },
  data() {
    return {
      selected: []
    }
  },
  methods: {
    onInputChange() {
      const payload = this.checkboxOptions.map(el => {
        return {
          id: el.id,
          isChecked: this.selected.includes(el.id),
          name: el.name
        }
      })
      this.$emit('checkboxOptionClick', payload)
    },
    updateSelected() {
      this.selected = this.checkboxOptions
      .filter(el => el.isChecked)
      .map(el => el.id)
    }
  },
  watch: {
    checkboxOptions() {
      this.updateSelected()
    }
  },
  mounted() {
    this.updateSelected()
  }
}
</script>

<style lang="scss" scoped>
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_text: #4f4e4e;
  $color_light: #e9ebee;

  .pegi-checkbox-input {
    display: none;  
  }

  .pegi-checkbox-option {
    display: block;
    line-height: 2;
    font-size: 14px;

    .pegi-checkbox-input:checked ~ .pegi-checkbox-btn {
      background: $color_orange;
      border-color: $color_orange;

      &:after {
        content: '\2714';
      }
    }
  }

  .pegi-checkbox-btn {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    border-radius: 2px;
    background: $color_white;
    border: solid 2px $color_text;

    &:after {
      content: '';
      line-height: 100%;
      position: absolute;
      font-size: 12px;
      top: 50%;
      left: 50%;
      color: $color_white;
      transform: translateX(-50%) translateY(-50%);
    }
  }
</style>


