<template>
  <transition name="slide-up" mode="out-in">
    <div class="scrollable-modal-bottom text-left">
      <div class="scrollable-modal-bottom-nav">
        <img
          class="scrollable-modal-bottom-close" 
          src="@/assets/img/close@3x.png"
          alt="close" 
          @click="closeModalBottom"
        >
        <div class="scrollable-modal-bottom-title">{{title}}</div>
        <div 
          class="scrollable-modal-bottom-action"
          @click="$emit('modalAction')"
        >
          {{action}}
        </div>
      </div>
      <div class="scrollable-modal-bottom-content">
        <slot></slot>
      </div>
      <div class="scrollable-modal-bottom-footer">
        <div class="text-center">
          <pegi-button  
            size="small"
            btnType="pills-secondary"  
            style="margin:8px 8px 16px; width:116px; height:32px"
            @click.native="$emit('modalCancel')"
          >
            Batal
          </pegi-button>
          <pegi-button  
            size="small"
            btnType="pills-primary"  
            style="margin:8px 8px 16px; width:116px; height:32px"
            @click.native="$emit('modalSubmit')"
          > 
            Terapkan
          </pegi-button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
/* eslint-disable */
import Button from '@/components/generals/Button'
export default {
  name: 'ScrollableModalBottom',
  components: {
    'pegi-button': Button
  },
  props: {
    title: String,
    action: String
  },
  data() {
    return {
    }
  },
  methods: {
    closeModalBottom() {
      this.isScrollDisabled(false)
      let self = this
      setTimeout(function() {
        self.$emit("modalClose", true)
      },200)
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '@/assets/css/modal.scss';

  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_text: #4f4e4e;
  $color_light: #e9ebee;
  $color_opaque: #fafafa;

  .scrollable-modal-bottom {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #fff;
  }

  .scrollable-modal-bottom-nav {
    display: flex;
    padding: 9px;
    justify-content: space-between;
    align-items: center;
    box-shadow:-1px 2px 7px -2px rgba(89,89,89,.46);
  }

  .scrollable-modal-bottom-close {
    height: 30px;
  }

  .scrollable-modal-bottom-title {
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 16px;
  }

  .scrollable-modal-bottom-action {
    font-size: 15px;
    color: $color_orange;
    font-weight: bold;
  }

  .scrollable-modal-bottom-content {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .scrollable-modal-bottom-footer {
    background: $color_opaque;
    box-shadow:-1px 2px 7px 0px rgba(89,89,89,.46);
    padding-top: 6px;
  }
</style>
