<template>
  <div class="navbar-pegi" ref="navbar">
    <div class="navbar-primary">
      <img alt="back" @click="onNavClick" src="@/assets/img/arrow-left@3x.png">
      <h1 style="display:none">Pegipegi: Booking Hotel, Tiket Pesawat, dan Kereta Api Murah</h1>
      <img class="logo" src="@/assets/img/normal@3x.png" alt="Pegipegi: Booking Hotel, Tiket Pesawat, dan Kereta Api Murah">
      <div id="user-dropdown" class="text-style-1 text-style-2">
        <a v-if="userlogin != ''" href="https://serviceauth.pegipegi.com/account">{{this.userlogin}}</a>
        <a v-else href="https://serviceauth.pegipegi.com/login?resource=sp_main_homepage&redirect=//https://www.pegipegi.com/"><img alt="profile" src="@/assets/img/line-profile.png"></a>
      </div>
    </div>

    <div class="navbar-secondary" @click="onSecondaryBarClick">
      <div class="navbar-secondary-icon"></div>
      <div class="navbar-secondary-content">
        <p class="navbar-secondary-title text-nowrap text-ellipsis"><strong>{{navBarText.header}}</strong></p>
        <p class="navbar-secondary-detail no-margin text-nowrap text-ellipsis">{{navBarText.detail}}</p>
      </div>
      <div class="navbar-secondary-action">
        <strong class="text-orange">Ganti</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavBarSecondary',
  props: {
    navBarText: Object
  },
  data(){
    return {
      userlogin: ''
    }
  },
  methods:{
    onNavClick: function(){
      this.$emit('navClick')
    },
    onSecondaryBarClick() {
      this.$emit('secondaryBarClick')
    }
  },
  mounted(){
    var usernameSso = this.getCookieSso('sso')
    if ('' != usernameSso) {
      let split = usernameSso.split('+')
      this.userlogin = split[0]
    }
  }
}
</script>
<style lang="scss" scoped>
  $color_white: #fff;
  $color_primary: #F97432;
  $color_dark: #8996A3;
  $color_text: #4f4f4e;

  .logo{
    object-fit: contain;
    width: 108.3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #user-dropdown{
    position: relative;
    width:30%;
    text-align:right;
    text-overflow:ellipsis;
    overflow:hidden;
    color: $color_primary;
    
    a{
      font-size: 14px;
      color: $color_primary;
    }
  }
  .dropdown-container{
    position:absolute;
    background:lightgrey;
    right:0px;
    border-radius:4px;
    z-index:1;
  }
  .navbar-pegi{
    background: white;
    padding:10px 8px;
    position:sticky;
    top:0;
    z-index: 2;
    box-shadow:-1px 2px 7px -2px rgba(89,89,89,.46);
  }
  .navbar-pegi img:nth-child(1){
    max-width: 24px;
  }
  .text-style-1 {
    font-family: Lato-SemiBold;
    font-size:14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color_text;
  }

  .navbar-primary {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .navbar-secondary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar-secondary-icon {
    background-image: url('~@/assets/img/sprite_hotel.png');
    background-repeat: no-repeat;
    background-position: -17px -40px; 
    background-size: 135px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-grow: 0;
  }

  .navbar-secondary-content {
    width: 100px;
    flex-grow: 1;
    margin-right: 5px;
  }
  
  .navbar-secondary-title {
    font-size: 14px;
    margin-bottom: 2px;

    @media only screen and (min-width: 321px) {
      font-size: 16px;
    }
  }

  .navbar-secondary-detail {
    font-size: 13px;
    color: $color_dark;
  }
  
  .navbar-secondary-action {
    flex-grow: 0;
    font-size: 15px;
  }

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
