<template>
  <div class="pegi-radio">
    <label 
      v-for="option in radioOptions" 
      :key="option.id" 
      class="pegi-radio-option" 
      :for="option.id" 
    >
      <input 
        class="pegi-radio-input"
        type="radio"
        v-model="selected"
        :id="option.id"
        :name="name"
        :value="option.id"
        @change="onInputChange"
      >
      <span class="pegi-radio-btn"></span>
      <span>{{option.name}}</span>
    </label>
  </div>  
</template>

<script>
export default {
  name:"Radio",
  props: {
    radioOptions: Array,
    name: String
  },
  data() {
    return {
      selected: ''
    }
  },
  methods: {
    onInputChange() {
      const payload = this.radioOptions.map(el => {
        return {
          id: el.id,
          isChecked: this.selected === el.id,
          name: el.name
        }
      })
      this.$emit('radioOptionClick', payload)
    },
    updateSelected() {
      this.selected = this.radioOptions
      .filter(el => el.isChecked)
      .map(el => el.id)[0] 
    }
  },
  watch: {
    radioOptions() {
      this.updateSelected()
    }
  },
  mounted() {
    this.updateSelected()
  }
}
</script>

<style lang="scss" scoped>
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_dark: #8996A3;
  $color_text: #4f4e4e;
  $color_light: #e9ebee;

  .pegi-radio-input {
    display: none;  
  }

  .pegi-radio-option {
    display: block;
    line-height: 2;
    font-size: 14px;

    .pegi-radio-input:checked ~ .pegi-radio-btn {
      &:after {
        background: #F97432;
      }
    }
  }

  .pegi-radio-btn {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    border-radius: 100px;
    border: solid 2px $color_text;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      background: transparent;
      border-radius: 100px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
</style>


