<template>
  <div class="search-result" ref="searchResultPage">

    <nav-bar @secondaryBarClick="openModal('searchBox')" @navClick="onNavClick" :navBarText="navbarText" />

    <div class="search-result-container">

      <slider-result-floating></slider-result-floating>

      <bottom-bar
        @sort="openModal('sort')"
        @filter="openModal('filter')" 
      />

    </div>
  </div>
</template>

<script>
  import NavBar from '@/components/search-result/NavBarSecondary'
  import BottomBarFloating from '@/components/search-result/BottomBarFloating'
  import SliderResultFloating from '@/components/search-result/SliderResultFloating'
  import {mapState} from 'vuex'
  import moment from 'moment'
  import {monthsName,daysName} from '@/util/lang/id'

  export default {
    name: 'SearchResultMap',
    components: {
      'nav-bar': NavBar,
      'bottom-bar': BottomBarFloating,
      'slider-result-floating': SliderResultFloating
    },
    data() {
      return {}
    },
    methods: {
      onNavClick() {
        this.$router.go(-1)
      },
      stringifyDate(param) {
        if( param === ''){
          return '-'
        }  
        const selectedDay = moment(param)
        const day = daysName[selectedDay.day()]
        const date = selectedDay.date();
        const month = monthsName[selectedDay.month()]
        const year = selectedDay.year()
        return day.substr(0,3) + ', ' + date + ' ' + month.substr(0,3) + ' ' + ( year + '').substr(2,3)
      },
    },
    computed: {
      ...mapState({
        hotelSearchData: state => state.hotelSearchData
      }),

      navbarText() {
        return {
          header: '',//this.hotelSearchData.selectedLocation.maintext,
          detail: ''//`${this.stringifyDate(this.hotelSearchData.dateInfo.checkIn)} - ${this.stringifyDate(this.hotelSearchData.dateInfo.checkOut)} | ${this.hotelSearchData.guestRoomInfo.guestCount} Tamu, ${this.hotelSearchData.guestRoomInfo.roomCount} Kamar`
        }
      },
    },
  }
</script>
