<template>
  <div class="map-container">
    <div class="map-container__floating-container">
      <swiper :options="swiperBanner">
        <swiper-slide>
          <slider-result-item :fav="true"/>
        </swiper-slide>
        <swiper-slide>
          <slider-result-item/>
        </swiper-slide>
        <swiper-slide>
          <slider-result-item/>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>
<script>
  import SliderResultItem from '@/components/search-result/SliderResultItem' 

  export default {
    name: 'Slider-result',
    components: {
      'slider-result-item': SliderResultItem
    },
    data(){
      return{
        grabCursor: true,
        centeredSlides: true,
        swiperBanner: {
          spaceBetween: 8,
        },
      }
    }
  }
</script>
<style lang="scss">
  .map-container{
    background-color: gray;
    min-height: 100vh;
    height: auto;
  }

  .map-container__floating-container{
    width: 262px;
    position: fixed;
    bottom: 70px;

    .swiper-container{
      overflow: visible;

      .swiper-slide {
        width: 262px !important;
        height: auto;
        border-radius: 4px !important;
        border: 0 !important;
        overflow: hidden;
        &:nth-child(1) {
          margin-left: 8px;
        }
      }

    }

  }

</style>
