<template>
  <div class="slider-item-wrapper">
    <div class="slider-item-wrapper__preview-container"></div>
    <div class="slider-item-wrapper__detail-container">
      <div class="detail-container-info">
        <img class="card-badge" src="@/assets/img/badge-recommend@3x.png" v-if="fav" alt="favorit">
        <h5>Le Meridien Tanah Lot Jimbaran Bali, </h5>
        <div class="card-star">
          <div class="card-star-item"></div>
          <div class="card-star-item"></div>
          <div class="card-star-item"></div>
          <div class="card-star-item"></div>
          <div class="card-star-item"></div>
        </div>
        <div class="card-review">
          <div class="card-review-pegipegi">
            <img class="card-review-pegipegi-img text-level" src="@/assets/img/pegi-icon.png" alt="pegipegi">
            <div class="card-review-pegipegi-score">
              <strong>9.1</strong>
            </div>
            <div class="card-review-pegipegi-text-tiny">
              100<br/> Ulasan
            </div>
          </div>
          <div class="card-review-tripadvisor">
            <img class="card-review-tripadvisor-img" src="@/assets/img/tripadvisor.png" alt="tripadvisor">
            <div class="card-review-tripadvisor-star">
              <div class="card-star-tripadvisor is-active"></div>
              <div class="card-star-tripadvisor is-active"></div>
              <div class="card-star-tripadvisor"></div>
              <div class="card-star-tripadvisor"></div>
              <div class="card-star-tripadvisor"></div>
            </div>
            <span class="text-grey"><small class="card-review-tripadvisor-count"> (10)</small></span>
          </div>
        </div>
      </div>
      <div class="card-price">
        <div class="card-price-info">
          Harga/malam/kamar
          Termasuk Pajak <img src="@/assets/img/info@3x.png" class="card-price-info__icon" alt="">
        </div>
        <div class="card-price-amount">
          <div class="card-price-amount__subtotal">
            <span class="card-price-amount__subtotal__percentage">50%</span>&nbsp;<span class="card-price-amount__subtotal__discounted">Rp1.000.000</span>
          </div>
          <div class="card-price-amount__total text-orange">
            Rp500.000
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default{
    name:'Slider-Result-Item', 
  }
</script>
<style lang="scss">
  $color_white: #FFFFFF;
  $color_orange: #F97432;
  $color_yellow: #ffa500;
  $color_dark: #8996A3;
  $color_light: #e9ebee;
  $color_green: #00bb88;

  .slider-item-wrapper{
    height: 100%;
    width: 100%;
  }

  .slider-item-wrapper__preview-container{
    display: inline-block;
    width: 65px;
    height: 100%;
    background: url('~@/assets/img/hotel-meridien.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .slider-item-wrapper__detail-container{
    display: inline-block;
    padding: 4px;
    width: calc(100% - 65px);
    vertical-align: top;
    position: relative;
    height: 100%;

    .detail-container-info{
      margin-bottom: 42px;

      h5{
        font-size: var(--font-mobile-md);
        line-height: 1.14;
        font-weight: 700;
        margin: 0;
      }

      .card-badge{
        width: 55px;
        margin-bottom: 4px;
      }

      .card-star{
        margin: 3px 0;
        height: 12px;
        display: inline-block;
      }

      .card-star-item {
        display: inline-block;
        background: url('~@/assets/img/sprite_hotel.png');
        background-size: 118px;
        background-repeat: no-repeat;
        background-position: -31px -68px;
        vertical-align: top;
        width: 12px;
        height: 12px;
      }

      .card-star-tripadvisor {
        display: inline-block;
        height: 8px;
        width: 8px;
        background: url('~@/assets/img/sprite_tripadvisor.png');
        background-size: 16px 8px;
        background-position: -8px 0;
        margin-right: 1px;

        &.is-active {
          background-position: 0 0;
        }
      }

      .card-review {
        display: flex;
      }

      .card-review-pegipegi {
        border-radius: 2px;
        border: solid 1px $color_light;
        color: $color_orange;
        display: flex;
        margin-right: 4px;

        &-img {
          height: 8px;
          margin: 4px 3px;
        }

        &-score {
          padding: 2px 4px 2px 0;
          font-size: var(--font-mobile-xs);
          border-right: solid 1px $color_light;
        }

        &-text-tiny{
          font-size: 6px;
          line-height: 1;
          padding: 2px 4px;
        }
      }

      .card-review-tripadvisor {
        &-img {
          width: 16px;
          height: auto;
          margin-right: 4px;
        }

        &-star {
          display: inline-block;
        }

        &-count{
          vertical-align: middle;
          font-size: var(--font-mobile-xxs) !important;
        }
      }
    }

    .card-price{
      position: absolute;
      padding-left: inherit;
      padding-right: inherit;
      left: 0;
      right: 0;
      bottom: 5px;
      padding-top: 4px;
      border-top: 1px solid #efefef;
      &-info{
        display: inline-block;
        vertical-align: top;
        font-size: var(--font-mobile-xs);
        color: $color_dark;
        width: 50%;
        line-height: 12px;
      }
      &-info__icon{
        width: 10px;
      }
      &-amount{
        display: inline-block;
        text-align: right;
        width: 50%;
      }
      &-amount__subtotal{
        font-size: var(--font-mobile-xs);
        font-weight: 700;
        color: $color_dark;
      }
      &-amount__subtotal__discounted{
        text-decoration: line-through;
      }
      &-amount__subtotal__percentage{
        color: $color_yellow;
      }
      &-amount__total{
        color: $color_orange;
        font-size: var(--font-mobile-md);
        font-weight: 700;
      }
    }
  }

</style>
