@font-face {
  font-family: Lato;
  font-display: swap;
  font-weight: 400;
  src: url('~@/assets/fonts/Lato-Regular.woff');
}

/* @font-face {
  font-family: Lato;
  font-display: swap;
  src: url('@/assets/fonts/Lato-Semibold.woff');
} */

@font-face {
  font-family: Lato;
  font-display: swap;
  font-weight: 700;
  src: url('~@/assets/fonts/Lato-Bold.woff');
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $color-text;
  
  @media screen and (min-width: 321px) {
    font-size: $base-font-size;
  }
}

// TYPOGRAPHY HELPER
.text {
  &--primary {
    color: $color-primary;
  }

  &--dark {
    color: $color-text;
  }

  &--light {
    color: lighten($color-text, 50%);
  }

  &--small {
    font-size: $base-font-size;
  }
  
  &--medium {
    font-size: $base-font-size-medium;
  }
  
  &--large {
    font-size: $base-font-size-large;
  }

  // non-iPhone 4/5 screen width
  @media screen and (max-width: 321px){
    &--small {
      font-size: $base-font-size - 2px;
    }
    
    &--medium {
      font-size: $base-font-size-medium - 2px;
    }
    
    &--large {
      font-size: $base-font-size-large - 2px;
    }
  }

}