<template>
    <div class="calendar-pop-out-wrapper"> 
        <div class="calendar-pop-layout" @click="closeRoom"></div>
        <div class="backdate-container">
            <h1>Apakah Kamu ingin menginap
                <b>Sekarang</b> ({{checkInText}}) 
                <br> atau <b>Nanti siang</b>? ({{checkNextText}})?</h1>
            <div>
                <vue-button
                size="small"
                btnType="pills-primary"
                @click.native="closeRoomNow()">Sekarang</vue-button>
                <vue-button 
                size="small"
                btnType="pills-primary"
                @click.native="closeRoomLater()">Nanti siang</vue-button>
            </div>
        </div>
    </div>
</template>
<script>
import Button from '@/components/generals/Button'
import moment from 'moment';
    export default {
        name: 'BackDatePopOut',
        components: {
            vueButton: Button
        },
        props :{
            checkIn:{
                type: String,
                required: true
            }
        },
        computed:{ 
            checkInText(){   
                return this.dateTextFormat( this.checkIn )
             }, 
             checkNextText(){  
                const selectedDay = moment(this.checkIn).add(1,'d') 
                return this.dateTextFormat( selectedDay.format() )
             },
        },
        methods:{ 
            closeRoom(){
                this.$emit('closeBackDatePopOut')
            },
            closeRoomNow(){
                this.closeRoom()
                this.$emit('backdateOption',false)
            },
            closeRoomLater(){
                this.closeRoom()
                this.$emit('backdateOption',true) 
            }
        } 
    }
</script> 