<template> 
  <div class="date-picker-content-wrapper" id="datePickerCalendar" ref="datePickerCalendar"> 
    <div class="date-picker-months" :id="'calendarMonth'+calendarIndex"
      v-for="(calendar, calendarIndex) in calendarData" 
      :key="calendarIndex"> 
      <h1>{{calendar.month}} {{calendar.year}}</h1>   
      <div class="calendar-container clearfix">    
        <div 
        :class="{'in-range': calendar.emptyStartData.isInRange }"
        v-for="emptyDay in calendar.emptyStartData.emptyDays" :key="emptyDay+'A'" class="calendar-date empty">
          <div class="dates"></div>   
        </div> 
        <div 
          class="calendar-date"
          v-for="(date, dateIndex) in calendar.data"  
          :class="dayClasses(date)"
          :key="dateIndex"> 
          <template v-if="isCurrentDay == ((dateIndex+1) + '-' + calendarIndex )"> 
            <div class="dates current" @click="dateSelectedAction( date.day , date.hasDayPassed )">{{dateIndex+1}}</div>  
            <div class="current-day" >HARI INI</div> 
          </template> 
          <template v-else-if="date.hasDayPassed"> 
            <div class="dates inactive">{{dateIndex+1}}</div>
          </template>
          <template v-else>
            <div class="dates" @click="dateSelectedAction( date.day )">{{dateIndex+1}}</div>   
          </template>
        </div>
        <div 
          class="calendar-date empty" 
          v-for="emptyDay in calendar.emptyEndData.emptyDays"
          :class="{ 'in-range': calendar.emptyEndData.isInRange  }"
          :key="emptyDay+'B'">
            <div class="dates"></div>
        </div>   
      </div> 
      <ul> 
        <li v-for="(holiday,holidayIndex) in calendar.holiday" :key="holidayIndex"><span>{{holiday.date}}</span>{{holiday.holiday}}</li>
      </ul>
    </div>  
  </div> 
</template>
<script> 
import moment from 'moment'; 
// import { mapState, mapMutations } from 'vuex' 
import {monthsName} from '@/util/lang/id'
//import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'; 

export default {
  name: 'Calendar',
  components: { 
  },
  props: {
    holiday:{
      type: Object, 
    },
    localDateInfo:{
      type: Object, 
    } 
  },
  data () {  
    return {
      holidaySelected: [], 
      openWarning: false,
      calendarData:{}, 
      checkIn:'',
      checkOut:'',
      stayingNight:0, 
    }
  }, 
  computed: {
    /* If possible try to handle the state vuex state using props instead so that it can be reused as 
       it's own library, but it handled this way now since emiting still quiet troublesome.
       Also do not forget to remove if mutation when it's changed to props
    */   
    isLeapYear(){  
      let current = moment();
      let day = current.date();
      let month = current.month(); + 1
      let year = current.year(); 
      return ( (( (year + 1) % 4 === 0) && month >= 3 ) || 
                (( year % 4 === 0) && ( month == 1 || 
                month == 2 && day < 29 ) ) ) ? true : false ;
    },
    getTotalDayInThisYear(){ 
      return (this.isLeapYear) ? '366' : '365' 
    }, 
    isCurrentDay(){  
      return moment().format('D-YYYY-MM'); 
    }, 
  },
  methods: {   
    setCheckIn(val){
      this.$emit('updateLocalDateInfo',{'action': 'setCheckIn' , 'value': val} )  
      this.checkIn = val
    },
    setCheckOut(val){
      this.$emit('updateLocalDateInfo',{'action': 'setCheckOut' , 'value': val} ) 
      this.checkOut = val
    },
    setStayingNight(val){ 
      this.stayingNight = val 
    },
    dayClasses(date){ 
      return { 
        'weekend': date.weekend,
        'holiday': date.holiday,
        'selected-start': date.selectedStart,
        'selected-end': date.selectedEnd, 
        'in-range': date.isInRange,
      } 
    },  
    clearSelectedDay(){
      const checkIn = moment(this.checkIn)  
      const checkOut = moment(this.checkOut)
      this.calendarData[checkIn.format('YYYY-MM')].data[checkIn.date() - 1 ].selectedStart = false
      // Only remove checkOut if it filled
      if( this.checkOut !== ''){
        this.calendarData[checkOut.format('YYYY-MM')].data[checkOut.date() - 1 ].selectedEnd = false
      }

    },
    setInRangeDate(){ 
      // If both checkIn and checkOut is picked  
      if( this.stayingNight > 0){ 
        let startingDay = moment(this.checkIn)  
        const checkOut = moment(this.checkOut)
        const numOfDays =  ( checkOut.startOf('day').diff(startingDay.startOf('day') ,'day') )
        // check if check In is in different month which mean empty part of the month is selected
        if(startingDay.month() < checkOut.month()){
          this.calendarData[startingDay.format('YYYY-MM')].emptyEndData.isInRange = true   
          this.calendarData[checkOut.format('YYYY-MM')].emptyStartData.isInRange = true   
        }   
        // Set selected for checkIn and checkOut
        this.calendarData[startingDay.format('YYYY-MM')].data[startingDay.date() - 1 ].selectedStart = true   
        this.calendarData[checkOut.format('YYYY-MM')].data[checkOut.date() - 1 ].selectedEnd = true     
        // Set in range for each day of the months
        for( let i = 0; i <= numOfDays; i++){
          this.calendarData[startingDay.format('YYYY-MM')].data[startingDay.date() - 1 ].isInRange = true 
          startingDay.add('1','d') 
        }    
      } 
      // If only checkIn picked
      else if(this.checkIn !== ''){          
        const checkIn = moment(this.checkIn)  
        this.calendarData[checkIn.format('YYYY-MM')].data[checkIn.date() - 1 ].selectedStart = true   
      }   
    },
    clearInRange(){    
      if( this.stayingNight > 0 ){ 
        let startingDay = moment(this.checkIn)  
        const checkOut = moment(this.checkOut)
        const numOfDays =  ( checkOut.startOf('day').diff(startingDay.startOf('day') ,'day') ) 
        // turn off inRange for each empty part of beginnning and end of the month
        this.calendarData[startingDay.format('YYYY-MM')].emptyEndData.isInRange = false   
        this.calendarData[checkOut.format('YYYY-MM')].emptyStartData.isInRange = false   
        // turn off inRange for each staying day
        for( let i = 0; i <= numOfDays; i++){
          this.calendarData[startingDay.format('YYYY-MM')].data[startingDay.date() - 1 ].isInRange = false
          startingDay.add('1','d')  
        } 
      } 
    }, 
    isHolidaySelected(){
      let checkIn = moment(this.checkIn)
      // Empty all holiday on each month 
      this.holidaySelected.forEach( (date) => { 
        this.calendarData[date].holiday = []; 
      }) 
      this.holidaySelected = [];

      // Check for holiday in checkIn days
      // in the following there is a similar repeatable code that can be separated into new methods
      if(this.stayingNight == 0 && this.checkIn != ''){ 
        const index = checkIn.format('YYYY-MM')
        const holiday = this.calendarData[index].data[checkIn.date() - 1].holiday
        // Check if holiday is not empty
        if( holiday ){ 
          const date = checkIn.date() + ' ' + monthsName[checkIn.month()]  
          this.calendarData[index].holiday.push( {'date':date,'holiday':holiday} );  
          // store the mont which holiday selected so that it can be emptied later on
          if( this.holidaySelected.indexOf(index) == -1 ){
            this.holidaySelected.push(index)
          }
        } 
      }
      // Check day in beetween checkIn and checkOut for holiday
      else if(this.stayingNight > 0 ){  
        // Loop through each date of staying day
        for( let i = 0; i <= this.stayingNight; i++){ 
          const index = checkIn.format('YYYY-MM')
          const holiday = this.calendarData[index].data[checkIn.date() - 1].holiday 
          // Check if holiday is not empty
          if(  holiday ){ 
            const date = checkIn.date() + ' ' + monthsName[checkIn.month()]
            this.calendarData[index].holiday.push( {'date':date,'holiday':holiday} );  
            // store the mont which holiday selected so that it can be emptied later on
            if( this.holidaySelected.indexOf(index) == -1 ){
              this.holidaySelected.push(index)
            }
          }
          checkIn.add('1','d');
        } 
      } 
    }, 
    dateSelectedAction(day){ 
      // This part of code has quite alot of if cases it's might be good idea to create another method for 
      // it or reduce the number coded needed  
      const selectedDay = moment(day)
      const checkIn = moment(this.checkIn)
      this.clearInRange();   
      this.setStayingNight( 0); 
      //When no date is picked 
      if( this.checkIn === '' ){    
        this.setCheckIn( day )
      }
      // When checkIn is picked but not checkOut 
      else if( this.checkIn !== '' && this.checkOut === '' ){  
        //check for total number of staying night from the check Out  
        let diff = checkIn.startOf('day').diff(selectedDay.startOf('day') , 'd') 
        if( diff < 0 ){
          diff *= -1
        }
        // condition depending the next date that is chosen
        if( diff > 9 ){
          this.$emit('openWarningPopOut', true) 
        } else if(day === this.checkIn ){ 
          this.clearSelectedDay(); 
          this.setCheckIn( '')
        }
        else if ( selectedDay.startOf('day') > checkIn.startOf('day') ) {  
          this.setCheckOut(  day )  
          this.setStayingNight( diff);
        } else if( selectedDay.startOf('day') < checkIn.startOf('day') ){
          this.clearSelectedDay(); 
          this.setCheckOut(  this.checkIn)  
          this.setCheckIn( day) 
          this.setStayingNight( diff);
        } 

      }
      // When both checkIn and checkOut is picked
      else if ( this.checkIn !== '' && this.checkOut !== ''){
        this.clearSelectedDay(); 
        this.setCheckIn( day ) 
        this.setCheckOut( '')   
      }    
      this.setInRangeDate();
      this.isHolidaySelected(); 
       
    },
    createCalendarData (){
        let calendarObject = {} 
        let day = moment().add('-'+(moment().date() - 1 ),'d')   
        const totalDayInYear = this.getTotalDayInThisYear   
        const currentDay = moment().startOf('day') 
        
        //Add extra month if the backdate is at beginning
        const isBackDate =  ( (moment().hours() < 3) && (moment().hours() >= 0) )   
        const showMonth = ( isBackDate && moment().date() === 1) ? 14 : 13 ; 
        if( isBackDate && moment().date() === 1){
          day.add('-1','M')  
        }  
        
        //loop for each month
        for( let m = 0 ; m < showMonth; m++){ 
          const totalDayInMonth =  day.daysInMonth(); 
          const calendarDataFormat = day.format('YYYY-MM');
          calendarObject[calendarDataFormat] = {}
          calendarObject[calendarDataFormat]['month'] = monthsName[day.month()]
          calendarObject[calendarDataFormat]['year'] = day.year()  
          calendarObject[calendarDataFormat]['holiday'] = [];   
          
          //set for empty space at beginning of the month
          const startEmptyDays = day.day() - 1 
          calendarObject[calendarDataFormat]['emptyStartData'] = { 
            'emptyDays': (startEmptyDays === -1) ? 6 : startEmptyDays,'isInRange':false};
          
          //set for empty space at end of the month    
          const EndEmptyDays = moment(day).add(totalDayInMonth - 1,'d').day() - 1;  
          calendarObject[calendarDataFormat]['emptyEndData'] = { 
            'emptyDays': (EndEmptyDays === -1) ? 0 : 6 - EndEmptyDays,'isInRange':false};
          
          //create calendar data for each date in a month
          let tempArrayOfCalendar = []; 
          for( let i = 0 ;i < totalDayInMonth;  i++ ){  
              const weekend = (day.day() === 0 );  
              const hasDayPassed = day.startOf('day') < currentDay  ||
              ( day.startOf('day') > moment().add( totalDayInYear ,'d').startOf('day') )  
              const holidayName = this.holiday[day.format('YYYY/M/D')];   
              // apparently using store boolean is much faster than computing each css later on
              tempArrayOfCalendar.push( {
                // date Information
                'day': day.format() , 
                // static Object
                'holiday': holidayName, 'weekend': weekend, 'hasDayPassed': hasDayPassed, 
                //dynamic object
                'isInRange': false, 'selectedStart': false , 'selectedEnd': false 
              }); 
              day.add('1','d');  
          }  
          calendarObject[calendarDataFormat]['data'] = tempArrayOfCalendar  
        }      
        // set previous day open if there is backdate
        if(isBackDate){
          let today = moment();
          today.add('-2','day')
          calendarObject[today.format('YYYY-MM')].data[today.date()].hasDayPassed = false
        }    
        this.calendarData = calendarObject          
    }, 
    setCalendarInitialPosition(){ 
      const monthElement = 'calendarMonth'+moment(this.checkIn).format('YYYY-MM')
      const position = document.getElementById(monthElement).offsetTop  
      document.getElementById('datePickerCalendar').scrollTop += position
    }
  },  
  mounted(){   
    //BodyScrollLock.disableBodyScroll(this.$refs.datePickerCalendar)
    this.setCalendarInitialPosition()
    this.checkIn = this.localDateInfo.checkIn
    this.checkOut = this.localDateInfo.checkOut   
       
    this.stayingNight = moment(this.checkOut).startOf('day').diff(moment(this.checkIn).startOf('day'),'d')
    this.createCalendarData();  
    this.setInRangeDate()
    this.isHolidaySelected();     
  },
  // beforeDestroy(){
  //   //BodyScrollLock.enableBodyScroll(this.$refs.datePickerCalendar)
  //   //BodyScrollLock.clearAllBodyScrollLocks()
  // }
}
</script> 
