<template>
  <section class="date-picker-wrapper">
    <div class="date-picker-header-wrapper">
      <div class="date-picker-header-title clearfix">
        <div class="exit-icon" @click="closeDatePicker()">
          <div class="home-icon icon-close-lg"></div> 
        </div> 
        <h1>Pilih Tanggal</h1>  
      </div>
      <div class="date-picker-check row">
        <div class="col-6">
          <div class="check-in clearfix">
            <div class="date-logo-container">
              <div class="home-icon icon-calendar-sm"></div> 
            </div>
            <div class="check-date">
              <h6>Check-In</h6>
              <span :class="{'active': ( checkOut === '') }">{{checkInText}}</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="check-out clearfix">
            <div class="check-date">
              <h6>Check-Out</h6>
              <span :class="{'active':(checkIn !== '' & checkOut !== '')}">{{checkOutText}}</span>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <table class="date-picker-days">
        <tr>
          <td>Sen</td>
          <td>Sel</td>
          <td>Rab</td>
          <td>Kam</td>
          <td>Jum</td>
          <td>Sab</td>
          <td>Min</td>
        </tr>
      </table>
    </div>  
    <vue-Calendar
      :holiday="holiday"
      :localDateInfo="localDateInfo" 
      @updateLocalDateInfo="CalendarAction($event)"
      @openWarningPopOut="openWarning = $event">
    </vue-Calendar>
    <div class="date-picker-footer">
      <vue-button 
        size="medium"
        btnType="pills-primary"
        :class="{'inactive': canBook }"
        @click.native="updateCheckDays()">{{datePickerButtonText}}</vue-button>
    </div> 
    <vue-warning-message-pop-out
      v-if="openWarning"
      @closeWarning = "openWarning = false">
    </vue-warning-message-pop-out>
    <vue-back-date-pop-out
      v-if="openBackDatePopOut"
      :checkIn="this.checkIn" 
      @backdateOption="setSelectedDate($event)"
      @closeBackDatePopOut = "openBackDatePopOut = false"> 
    </vue-back-date-pop-out>
  </section>
</template>
<script>
import Button from '@/components/generals/Button'
import Calendar from '@/components/datepicker/Calendar'
import WarningMessagePopOut from '@/components/datepicker/WarningMessagePopOut'
import BackDatePopOut from '@/components/datepicker/BackDatePopOut'
import moment from 'moment';  

export default {
  name: 'DatePicker',
  components: {
    vueButton: Button,
    vueCalendar: Calendar,
    vueWarningMessagePopOut: WarningMessagePopOut, 
    vueBackDatePopOut: BackDatePopOut,
  },
  props: {
    holiday:{
      type: Object,
      default: function () {
        return {}
      }
    },
    dateInfo:{
      type: Object, 
      default: function () {
        return {
          checkIn: moment().format(),
          checkOut: moment().add('1','d').format(), 
        }
      }
    }
  },
  data () {  
    return { 
      openWarning: false,
      openBackDatePopOut: false,
      checkIn: '',
      checkOut: '',   
    }
  },
  computed: {
    localDateInfo(){
      return {
        checkIn: this.checkIn,
        checkOut: this.checkOut, 
      }
    },
    stayingNight(){
      if(this.checkIn !== '' & this.checkOut !== ''){
        return moment(this.checkOut).startOf('day').diff(moment(this.checkIn).startOf('day'),'d')
      }
      return 0
    },
    checkInText(){ 
      if( this.checkIn === ''){
        return '-'
      }  
      return  this.dateTextFormat( this.checkIn )
    },
    checkOutText(){
      if( this.checkOut === ''){
        return '-'
      } 
      return this.dateTextFormat( this.checkOut )
    },
    datePickerButtonText(){
      return (this.checkIn !== '' & this.checkOut !== '') ? 'Pilih ('+this.stayingNight+' malam)' : 'Lanjut';
    },  
    canBook(){
      return (this.checkIn === '' || this.checkOut === '');
    },  
  },
  methods:{ 
    CalendarAction(event){
      const action = event.action;
      const value = event.value;   
      if(action === 'setCheckIn'){
        this.checkIn = value
      }else if(action === 'setCheckOut'){
        this.checkOut = value
      } 
    },
    closeDatePicker(){
      this.$emit('showDatePicker',{'status':false})
    },
    updateCheckDays(){  
      if(!this.canBook){     
         if( moment(this.checkIn).startOf('day') < moment().startOf('day') ){ 
          this.openBackDatePopOut = true;
        }else{
          this.setSelectedDate(false)
        }
      }
    },
    setSelectedDate(backdate){ 
      if(backdate){
        let checkIn = moment(this.checkIn).add('1','d');
        let checkOut = moment(this.checkOut) 
        if(checkOut.startOf('day').diff(checkIn.startOf('day'),'day')){
          checkOut.add('1','d')
        }
        this.$emit('updatedDateInfo',{
          'dateInfo':{
            'checkIn': checkIn.format(),
            'checkOut': checkOut.format()
          }, 
        })
      }else{
        this.$emit('updatedDateInfo',{
          'dateInfo':{
            'checkIn':this.checkIn,
            'checkOut':this.checkOut
          }, 
        })
      } 
      this.closeDatePicker()
    },
  }, 
  mounted(){  
    this.checkIn = this.dateInfo.checkIn 
    this.checkOut = this.dateInfo.checkOut  
  }
}
</script> 
<style>
  @import '@/assets/css/datePicker.css';
</style>
