<template>
    <div class="calendar-pop-out-wrapper"> 
        <div class="calendar-pop-layout" @click="closeRoom"></div>
        <div class="warning-message-container">
            <h1>Anda hanya bisa memesan maksimum 9 malam</h1>
            <div>
                <vue-button
                size="small"
                btnType="pills-primary"
                @click.native=" $emit('closeWarning')">Ok, mengerti</vue-button> 
            </div>
        </div>
    </div>
</template>
<script>
import Button from '@/components/generals/Button'

    export default {
        name: 'WarningMessagePopOut',
        components: {
            vueButton: Button
        },
        methods: {
            closeRoom(){
                this.$emit('closeWarning')
            }
        }
    }
</script> 