// TYPOGRAPHY
$base-font-family     : "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$base-font-size       : 14px;
$base-font-size-medium: 16px;
$base-font-size-large : 18px;

// COLORS
$color-primary        : #f97432;
$color-text           : #4f4e4e;
$color-dark           : #8996A3;
$color-light          : #e9ebee;