<template>
  <!--
    Reusable button component available props and its options:
    - btnStyle    : 'rounded' || 'default' (default)
    - btnSize     : 'x-small' || 'small' || 'medium' (default) || 'large'
    - btnColor    : 'primary' (default) || 'secondary' || 'outline' || 'inactive'
    - isAnchor    : true || false (default)
    - isRouter    : true || false (default)
    - href        : '/insert-anchor-link'
    - to          : '/insert-router-link'
    - type        : 'button' (default) || 'submit' || 'reset' || ...
    - customColor : 'insert-color-hex'
  -->
  
  <a
    v-if="isAnchor"
    :href="[!href ? '#' : href]"
    class="btn"
    :class="[`btn--${btnSize}`, `btn--${btnStyle}`, `btn--${btnColor}`]"
    :style="{background: '#'+customColor}"><slot></slot></a>
  <nuxt-link
    v-else-if="isRouter"
    class="btn"
    :class="[`btn--${btnSize}`, `btn--${btnStyle}`, `btn--${btnColor}`]"
    :to="to"
    :style="{background: '#'+customColor}"><slot></slot></nuxt-link>
  <button
    v-else
    class="btn"
    :class="[`btn--${btnSize}`, `btn--${btnStyle}`, `btn--${btnColor}`]"
    :type="type"
    :style="{background: '#'+customColor}"
    @click="$emit('click')"><slot></slot></button>

</template>

<script>
export default {
  name: 'Button',
  props: {
    btnStyle: {
      default: 'default',
      type: String
    },
    btnSize: {
      default: 'medium',
      type: String
    },
    btnColor: {
      default: 'primary',
      type: String
    },
    type: {
      default: 'button',
      type: String
    },
    isAnchor: {
      default: false,
      type: Boolean
    },
    isRouter: {
      default: false,
      type: Boolean
    },
    href: {
      default: '/',
      type: String
    },
    to: {
      default: '/'
    },
    customColor: {
      type: String
    }
  } 
}
</script>

<style lang="scss" scoped> 
  .btn{
    display: inline-block;
    font-weight: 700;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease;

    // size modifier
    &--x-small {
      padding: 3px 6px;
      font-size: 12px;
    }

    &--small {
      padding: 5px 10px;
      font-size: 12px;
    }

    &--medium {
      padding: 8px 16px;
      font-size: 14px;
    }

    &--large {
      padding: 10px 20px;
      font-size: 14px;
    }
    
    // style modifier
    &--rounded {
      background: $color-primary;
      border-radius: 100px;
      color: #fff;
    }

    &--default {
      background: $color-primary;
      border-radius: 4px;
      color: #fff;
    }

    // color modifier
    &--primary {
      background: $color-primary;
      color: #fff;
    }

    &--secondary {
      background: $color-light;
      color: $color-text;
    }

    &--outline {
      background: #fff;
      border: 1px solid $color-primary;
      border-radius: 4px;
      color: $color-primary;
      line-height: normal;
    }

    &--inactive {
      background: $color-light;
      color: $color-dark;
    }

    &:focus {
      outline: none;
      opacity: 0.8;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
  
</style>
