<template>
  <div v-if="loading" class="loading">
    <div class="loading__box">
      <lottie
        class="loading__anim"
        :options="defaultOptions"
        :height= "70"
        :width= "70"
        @animCreated="handleAnimation"
      />
      <!-- <div class="loading__ball"></div>
      <div class="loading__ball"></div>
      <div class="loading__ball"></div> -->
      
      <p>Mohon tunggu sebentar...</p>
    </div>
  </div>
</template>

<script>
import Lottie from "@/components/Lottie";
import animationData from "@/assets/json/loading.json";
export default {
  name: 'Loading',

  data() {
    return {
      loading: false,
      defaultOptions: {
        animationData: animationData,
        loop: true,
        autoplay: true,
        renderer: 'svg'
      },
      anim: null
    }
  },
  components: {
    lottie: Lottie
  },
  methods: {
    start () {
      this.loading = true
    },
    finish () {
      this.loading = false
    },
    handleAnimation(anim) {
      this.anim = anim;
    }
  }

}
</script>

<style lang="scss" scoped>
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);

    &__anim {
      margin: 0 auto 5px auto;
      text-align: center;
    }

    &__box {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 10px 15px;
      background: #fff;
      border-radius: 5px;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    &__ball {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 100px;
      background: $color-primary;
      margin: 15px 2px;
      animation: bounce .8s infinite;  
      animation-timing-function: linear;

      &:nth-of-type(1) {
        animation-delay: -.4s;
      }

      &:nth-of-type(2) {
        animation-delay: -.2s;
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(-5px);
    }

    50% {
      transform: translateY(5px);
    }

    100% {
      transform: translateY(-5px);
    }
  }

</style>