:root{
  --font-mobile-xxs: 8px;
  --font-mobile-xs: 10px;
  --font-mobile-sm: 12px;
  --font-mobile-md: 14px;
  --font-mobile-lg: 16px;
}  
  .date-picker-wrapper{  
    padding: 0px;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #e9ebee;
    width: 100%;
    height: 100vh;
  }
  .date-picker-header-wrapper{
    font-size: var(--font-mobile-md);
    width: 100%;
    position: fixed;
    padding-top: 8px;
    background: white;
    top:0;
    z-index: 3;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.5);
  }
  .date-picker-header-wrapper .date-picker-header-title{
    margin-bottom: 4px;
    height: 24px;
  }
  .date-picker-header-title .exit-icon{ 
    float:left;
    position:absolute;
    top: 0px;
    padding: 8px;
    padding-right: 50px; 
  } 
  .date-picker-header-title h1{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    font-size: var(--font-mobile-md);
    font-weight: 700;
  } 
  .date-picker-check.row{
    margin: 0px 16px;
    text-align: center;
  }
  .date-picker-check .col-6{
    padding: 0;
  }
  .date-picker-check .date-logo-container{
    float:left;
    padding-right: 8px;  
  }  
  .date-picker-check .check-in,.date-picker-check .check-out{
    display: inline-block; 
    text-align: initial;   
    padding: 7px 0;
    min-width: 140px;
  }
  .date-picker-check .check-out{ 
    padding-left: 24px;
  }
  .date-picker-check .check-date{
    display: inline-block; 
    min-width: 105px;
  }
  .date-picker-check .check-in .date-logo-container .home-icon{ 
    vertical-align: bottom;
  } 
  .date-picker-check .check-in .check-date h6,.date-picker-check .check-out .check-date h6{
    margin: 0px;
    color: #bababa;
    font-size: var(--font-mobile-xs);
  }
  .date-picker-check .check-in .check-date span.active,.date-picker-check .check-out .check-date span.active{
    font-weight: 700;
  }
  .date-picker-header-wrapper .date-picker-days{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: calc(100% - 16px);
    margin: 0 8px;
    text-align: center;
  }
  .date-picker-header-wrapper .date-picker-days td{
    font-size: var(--font-mobile-sm);
    padding: 4px 0;
    width: calc(100%/7);
  }
  .date-picker-header-wrapper .date-picker-days td:last-child{
    color:#f97432;
  }
  .date-picker-header-wrapper hr{
    margin: 0;
    margin-top: 7px;
    background: #f1f1f1;
  }
  /* Calendar Start */  
  .date-picker-content-wrapper{
    margin-top: 110px; 
    padding-top: 2px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 110px - 64px);
    background:#e9ebee;
  } 
  .date-picker-content-wrapper .date-picker-months{
    background: white;
    margin-bottom: 8px;
  } 
  .date-picker-content-wrapper .date-picker-months:last-child { 
    margin-bottom: 0px;
    padding-bottom: 70px;
  }
  .date-picker-content-wrapper .date-picker-months h1{
    padding-top: 15px;
    margin-bottom: 16px;
    font-size: var(--font-mobile-md);
    font-weight: 700;
    text-align: center;
  }
  .date-picker-content-wrapper .date-picker-months .calendar-container{ 
    margin: 0 8px;
    width: calc(100% - 16px); 
  }

  .date-picker-content-wrapper .date-picker-months .calendar-date{
    float: left;
    position: relative;
    width: calc(100% /7); 
    margin: 8px 0; 
    height: 24px;
    text-align: center;  
  } 
  .date-picker-content-wrapper .date-picker-months .calendar-date .dates{ 
    position: relative;
    font-size: var(--font-mobile-md);  
    width: 24px;  
    line-height: 24px;
    z-index: 1; 
    margin: 0 auto;
  }
  
  .date-picker-content-wrapper .date-picker-months .calendar-date.weekend .dates{
    color: #f97432;
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date .dates.inactive{
    color: #8996a3;
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date .current.dates{ 
    color: #7852bb;
  }  
  .date-picker-content-wrapper .date-picker-months .calendar-date .current-day{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: var(--font-mobile-xxs);
    font-weight: 700;
    z-index: 2;  
    color: #7852bb;
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date.selected-start .dates,
  .date-picker-content-wrapper .date-picker-months .calendar-date.selected-end .dates {
    background: #f97342;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 700;
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date.in-range::after{
    content: '';
    position: absolute;
    width: 101%;
    height: 24px; 
    background: #fdd5c6;
    top: 0px;
    left: -1px; 
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date.selected-start.in-range::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 24px; 
    background: #fdd5c6; 
    bottom: 0px;
    left: unset;
    right: -1px;   
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date.selected-end.in-range::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 24px; 
    background: #fdd5c6; 
    bottom: 0px;
    left: unset;
    left: -1px !important;  
  }
  .date-picker-content-wrapper .date-picker-months .calendar-date.holiday .dates::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #dc2f4a;
    border-radius: 50%;
    border: 1px solid #ffffff;
    top: 0;
    top: -3px;
    right: -2px;;
  }
  .date-picker-content-wrapper .date-picker-months ul{
    padding:16px 0;
    padding-left: 16px;
    list-style-type: none;
    text-align: initial;
    margin-bottom: 0px;
  }
  .date-picker-content-wrapper .date-picker-months ul li{ 
    color:#4f4f4e;
    font-size: var(--font-mobile-xs);
  }
  .date-picker-content-wrapper .date-picker-months ul li span{
    color:#dc2f4a;
    padding-right:8px;
    font-weight:700;
  } 
  /* Calendar End */
  .date-picker-footer{
    width: 100%;
    position: fixed;
    background: #fafafa;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
    bottom: 0;
    z-index: 3;
    padding: 16px 0;
    text-align: center;
  }
  .date-picker-footer button{
    width: 218px;
    height: 32px;
  }

  .calendar-pop-out-wrapper{ 
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    top: 0;
    left: 0; 
  }
  .calendar-pop-out-wrapper .calendar-pop-layout{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
  }
  /* Warning Message Start */
  .calendar-pop-out-wrapper .warning-message-container{ 
      width: 272px;
      background: #ffffff;
      border-radius: 9px;
      margin: 0 auto;
      margin-top: calc( (100vh - 120px) /2 ); 
      padding: 16px;
      text-align: center; 
      position: relative;
  }
  .calendar-pop-out-wrapper .warning-message-container h1{
      font-size: var(--font-mobile-md);
      margin-bottom: 16px;
  }
  .calendar-pop-out-wrapper .warning-message-container button{
      width: 240px;
      height: 32px;
      font-size: var(--font-mobile-md); 
  }  
  /* Warning Message End */
  /* BackDate Start */
  .calendar-pop-out-wrapper .backdate-container{ 
      width: 272px;
      background: #ffffff;
      border-radius: 9px;
      margin: 0 auto;
      margin-top: calc( (100vh - 120px) /2 ); 
      padding: 16px;
      text-align: center; 
      position: relative;
  }
  .calendar-pop-out-wrapper .backdate-container h1{ 
      font-size: var(--font-mobile-md);
      margin-bottom: 16px;
  }
  .calendar-pop-out-wrapper .backdate-container button:nth-child(1){
      margin-right: 8px; 
  } 
  .calendar-pop-out-wrapper .backdate-container button{
      width: 116px;
      height: 32px;
      font-size: var(--font-mobile-md); 
  }
  /* BackDate End */
  @media only screen and (min-width: 321px) {
    :root{
    --font-mobile-xxs: 10px;
    --font-mobile-xs: 12px;
    --font-mobile-sm: 14px;
    --font-mobile-md: 16px;
    --font-mobile-lg: 18px;
    }
    .date-picker-content-wrapper{ 
      margin-top: 116px;  
      height: calc(100vh - 116px - 64px); 
    } 
    .date-picker-content-wrapper .date-picker-months .calendar-date .dates {
      width: 28px;
      line-height: 28px;
    }
    .date-picker-content-wrapper .date-picker-months .calendar-date.in-range::after{ 
      height: 28px;  
    }
    .date-picker-content-wrapper .date-picker-months .calendar-date.selected-start.in-range::after{
      height: 28px;     
    }
    .date-picker-content-wrapper .date-picker-months .calendar-date.selected-end.in-range::after{
      height: 28px;   
    }
    
  } 

