$orange : #f97342; 
:root{
  --font-mobile-xxs: 8px;
  --font-mobile-xs: 10px;
  --font-mobile-sm: 12px;
  --font-mobile-md: 14px;
  --font-mobile-lg: 16px;
} 
@media only screen and (min-width: 321px) {
  :root{
  --font-mobile-xxs: 10px;
  --font-mobile-xs: 12px;
  --font-mobile-sm: 14px;
  --font-mobile-md: 16px;
  --font-mobile-lg: 18px;
  }
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url('~@/assets/fonts/Lato-Regular.woff');
}
@font-face {
  font-family: Lato-SemiBold;
  font-display: swap;
  src: url('~@/assets/fonts/Lato-Semibold.woff');
}
@font-face {
  font-family: Lato-Bold;
  font-display: swap;
  src: url('~@/assets/fonts/Lato-Bold.woff');
}
body{
  font-family: Lato,sans-serif;
  background-color: white;
}
.scroll-lock{
  position: fixed;
  overflow: hidden;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  pointer-events: none; // Not focusable
}
.home-icon{
  display: inline-block;
  background: url('~@/assets/img/icon_home.png') no-repeat;
  width: 16px;
  height: 16px;
  background-position: -2px -2px;
  background-size: 135px;
}
.home-icon.icon-arrow-lg{
  width: 24px;
  height: 24px;
  background-position: -2px -2px;
  background-size: 200px;
}
.home-icon.icon-close-lg{
  width: 24px;
  height: 24px;
  background-position: -34px -34px;
  background-size: 235px;
}
.home-icon.icon-next-arrow-xs{
  width: 12px;
  height: 12px;
  background-position: -88px -30px;
  background-size: 100px;
}
.home-icon.icon-clear{
  width: 16px;
  height: 16px;
  background-position: -123px -105px;
  background-size: 180px;
}
.home-icon.icon-search{
  width: 16px;
  height: 16px;
  background-position: -2px -39px;
  background-size: 135px;
}
.home-icon.icon-calendar-sm{
  width: 14px;
  height: 14px;
  background-position: -16px -33px;
  background-size: 115px;
}
.home-icon.icon-calendar{
  width: 16px;
  height: 16px;
  background-position: -18px -39px;
  background-size: 135px;
}
.home-icon.icon-door{
  width: 16px;
  height: 16px;
  background-position: -52px -39px;
  background-size: 135px;
}
.home-icon.icon-attraction-sm{
  width: 14px;
  height: 14px;
  background-position: -76px -50px;
  background-size: 120px;
}
.home-icon.icon-city-sm{
  width: 16px;
  height: 16px;
  background-position: -109px -53px;
  background-size: 125px;
}
.home-icon.icon-area-sm{
  width: 14px;
  height: 14px;
  background-position: -28px -31px;
  background-size: 110px;
}
.home-icon.icon-city-2{
  width: 16px;
  height: 16px;
  background-position: -63px -51px;
  background-size: 125px;
}
.home-icon.icon-filter{
  width: 16px;
  height: 16px;
  background-position: -68px -39px;
  background-size: 135px;
}
.home-icon.icon-target-lg{
  width: 24px;
  height: 24px;
  background-position: -101px -110px;
  background-size: 193px;
  border-radius: 4px;
}
.home-icon.icon-promo-lg{
  width: 24px;
  height: 24px;
  background-position: 0px -74px;
  background-size: 180px;
}
.home-icon.icon-map-lg{
  width: 24px;
  height: 24px;
  background-position: -23px -73px;
  background-size: 183px;
}
.home-icon.icon-location{
  width: 40px;
  height: 50px;
  background-position: -157px -109px;
  background-size: 200px;
}
.home-icon.icon-trash{
  width: 24px;
  height: 24px;
  background-position: -69px -126px;
  background-size: 175px;
}
.home-icon.icon-star {
  width: 24px;
  height: 24px;
  background-position: 0px -102px;
  background-size: 180px;
}
.home-icon.icon-user {
  width: 24px;
  height: 24px;
  background-position: -108px -49px;
  background-size: 175px;
}
.home-icon.icon-price {
  width: 24px;
  height: 24px;
  background-position: -134px -49px;
  background-size: 180px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
