.spaced {
  margin-bottom: 1em;
}

.gapped {
  margin-right: 1em;
}

.indented {
  padding-left: 1em;
}

.flex {
  display: flex;
}

.flex-spaced {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.text-grey {
  color: #8996a3;
}

.text-orange {
  color: #F97432;
}

.text-black {
  color: #212529;
}

.text-green {
  color: #00bb88;
}

.text-tiny {
  font-size: 9px;
}

.text-strike {
  text-decoration: line-through;
}

.text-level {
  height: 1em;
}

.text-break {
  word-break: break-all;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 1 through 10 {
  .text-clamp-#{$i} {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: $i;
    overflow: hidden;
  }
}