/* Homepage start */

/*the media screen is mostly used to handle swiper banner so that the image is aligned with the heading
if possible try handling it in different way rather than using media screen for each devices*/
@media only screen and (min-width: 321px) {
    .homepage .swiper-history .container{ width: 288px !important}
    .swiper-wrapper .home-icon.icon-location{width: 45px!important; height: 52px!important;
    background-position: -163px -115px!important; background-size: 210px!important;}
    .swiper-wrapper > .swiper-slide.trash {  width: 142px!important;}
}
.homepage {
    background: #f1f1f1;
    background: url('~@/assets/img/Bg_Hotel_Homepage.jpg');
    min-height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0px;
    position: relative;
    .swiper-history {
        touch-action: none; //to remove touch error
        position: absolute;
        bottom: 10px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        .container {
            margin: 0px;
            padding: 0px;
            margin-left: 16px;
            width: 258px;
        }
        .swiper-container {
        overflow: visible;
        }
    }
}
.div-last-search {
    display: block;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 48px;
    padding-right: 20px;
    &> .lbel {
        line-height: 1.17;
        font-size: var(--font-mobile-sm);
        color: #8996a3;
    }
}
.swiper-wrapper{
.home-icon.icon-location{
    position: absolute;
    top: 6px;
    left: 2px;
}
.home-icon.icon-trash{
    margin: 0 auto;
    margin-top:10px;
}
.c-orange{
    color:var(--orange);
    line-height: 100%;
    font-weight: 700;
}
&> .swiper-slide {
    font-size: var(--font-mobile-md);
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    &.trash {
        display: inline-block;
        width: 132px;
        height: auto;
    }
}
}
.swiper-banner {
    overflow: hidden;
    padding-top: 16px;
    border-top: 1px solid #e2e2e2;
    .swiper-wrapper > .swiper-slide {
    margin: auto;
    img {
        vertical-align: middle !important;
        max-width: 100%;
    }
    }
    .item-baner > img {
    border-radius: 4px;
    }
    .swiper-container-3d .swiper-slide-shadow-left {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
    }

    .swiper-container-3d  .swiper-slide-shadow-right {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
    }
}
.name-last-search {
    color: #f97342;
    font-weight: 600;
    line-height: 1.29;
    font-size: var(--font-mobile-md);
    text-transform: uppercase;
    padding: 2px 0;

}
.time-last-search {
    line-height: 1.4;
    font-size: var(--font-mobile-xs);
}
.swiper-pagination-banner {
    text-align: center;
}
// last History search
.elips {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.padLR-20{
padding-left: 20px;
padding-right: 20px;
}

.promo-header-title {
padding: 0px!important;
margin-bottom: 6px;
span{
    font-family: Lato-Bold;
    font-size: var(--font-mobile-lg);
}
.home-icon{
    float: left;
    margin-right: 8px;
}
scroll-padding-inline: {
    display: inline-block;
    font-family: Lato-Bold;
    font-size: var(--font-mobile-md);
    margin:0px;
    margin-left: 8px;
}
}
.swiper-pagination-bullet-active {
opacity: 1;
background: #f97432 !important;
}

img {
vertical-align: middle !important;
max-width: 100%;
}
/* Homepage End */
/* HomepageBottom Start */
.homepage-bottom-wrapper{
    background-color: #e9ebee;
    padding-bottom: 24px;
    font-size: var(--font-mobile-md);
 }
.homepage-bottom-content{
    padding: 0 16px;
}
.homepage-bottom-content hr{
    margin: 16px 0;
    background-color: #e9ebee;
}
.tujuan-populer-wrapper .tujuan-populer-title{
    margin-top: 16px;
    margin-bottom: 2px;
}
.tujuan-populer-wrapper .tujuan-populer-title span,
.tujuan-populer-wrapper .tujuan-populer-title img{
    display: inline;
}
.tujuan-populer-wrapper .tujuan-populer-title .home-icon{
    margin-right: 8px;
    float: left;
}
.tujuan-populer-wrapper .tujuan-populer-title span{
    font-size: var(--font-mobile-lg);
    font-family: Lato-Bold;
    margin:0px;
    float: left;
    padding-top: 3px;
}
.tujuan-populer-content .row{
    padding: 0 16px;
}
.tujuan-populer-content .row .col-4{
    padding: 4px;
}
.tujuan-populer-content .tujuan-populer-location{
    position: relative;
    margin-top: 8px;
    border: solid 4px #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.tujuan-populer-content .tujuan-populer-location img{
    border-radius: 4px;
    width: 100%;
}

.tujuan-populer-content .tujuan-populer-location span{
    color: white;
    font-size: var(--font-mobile-md);
    text-shadow: 0 1px 2px #000000;
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 0px;
    left: 0;
    bottom: 8px;
    width: 100%;
}
.homepage-faqs-content-title{
    margin-bottom: 10px;
}
.homepage-faqs-content-title h1{
    font-size: var(--font-mobile-lg);
    font-weight: 700;
    margin-bottom: 8px;
}
.homepage-faqs-content-title p{
    margin: 0px;
}
.homepage-faqs-content .faqs-toogle{
    cursor: pointer;
    font-size: var(--font-mobile-md);
    font-weight: 700;
    color: #f97342;
    display: inline;
    position: relative;
}
.homepage-faqs-content span{ 
    padding-left: 12px;
}
.homepage-faqs-content .faqs-toogle span::after{
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    border-top: 2px solid #f97432;
    border-right: 2px solid #f97432;
    transition: 200ms ease-out 0s;
    transform: rotate( 135deg);
    top: 3px;
}
.homepage-faqs-content .faqs-toogle span.active::after{
    transition: 200ms ease-out 0s;
    transform: rotate( -45deg);
    top: 6px;
}
.homepage-faqs-content .faqs-text{
    margin-top: 5px;
}
.homepage-faqs-content .faqs-text p{
    margin: 0px;
}
.homepage-faqs-content .faqs-text h2{
    font-size: var(--font-mobile-md);
    font-weight: 700;
    margin: 16px 0;
}
.homepage-bottom-wrapper .hotel-patner-title{
    text-align: center;
    font-size: var(--font-mobile-lg);
    color: #1a2734;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
/* HomepageBottom End */
/* PopularAttraction Start */
.popular-attraction-wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; 
    background-color: #f1f1f1;
}
.popular-attraction-header{
    display: block;
    position: fixed;
    padding: 8px;
    padding-right: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 40px;
    top: 0px;
    -webkit-transform: translateZ(13);
    z-index: 13;
}
.popular-attraction-header .exit-icon{  
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px; 
} 
.popular-attraction-header .search-box{  
    display: inline-block;
    position: relative;
    box-shadow:none;
    background-color: #e9ebee;
    border-radius: 12px;
    margin-left: 40px; 
    padding-left: 10px;
    padding-right: 4px;
    color: #8996a3;
    width: calc(100% - 40px);
    height: 26px;
}
.popular-attraction-header .search-box input{
    width: calc( 100% - 36px);
    font-size: var(--font-mobile-md);
    height: 26px;
    background-color: transparent;
    box-shadow:none;
    outline: none;
    border: none;

}
.popular-attraction-header .search-box input::placeholder{
    color: #8996a3;
}
.popular-attraction-header .search-box .home-icon{
    float: right;
    margin-top: 5px;
}
.popular-attraction-content{
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    top: 40px;
    bottom: 0;
    background-color: #f1f1f1;
    width: 100vw;
}
.popular-attraction-content .location-wrapper{
    padding: 8px;
    margin-bottom: 4px;
    background-color: #ffffff;
}
.location-wrapper h1 ,.location-wrapper h2{
    font-size: var(--font-mobile-md);
    font-weight: 700;
    color: #1a2734;
}
.location-wrapper .location-header{
    margin-bottom: 8px;
}
.location-wrapper .location-header span{
    margin-right: 8px;
    float: left;
}
.location-content{
    margin: 6px 0;
    position: relative;
}
.location-content a{
    display: block;
    padding-left: 24px;
}
.location-content .location{
    display: inline-block;
}
.location-content .home-icon{
    margin-right: 8px;
    vertical-align: super;
}
.location-content .location p{
    font-size: var(--font-mobile-sm);
    color: #8996a3;
    margin: 0px;
}
.location-content .location span{
    color: #1a2734;
}
.location-content .location h2{
    margin-bottom: 4px;
}
.location-content .location::after{
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    border-top: 2px solid #f97432;
    border-right: 2px solid #f97432;
    transform: rotate( 45deg);
    top: 11px;
    right: 8px;
}
.no-result-wrapper{
    padding: 0 16px;
    padding-top: 67px;
    text-align: center;
}
.no-result-wrapper .no-result-text-title{
    margin-top: 40px;
    font-size: var(--font-mobile-md);
    font-weight: 700;
    color: #1a2734;
}
.no-result-wrapper .no-result-text{
    margin-top: 8px;
    font-size: var(--font-mobile-sm);
    color: #1a2734;
}
/* PopularAttraction End */
/* DeleteHistory Start*/
.delete-history-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    top: 0;
    left: 0;
}
.delete-history-wrapper .delete-history-pop-layout{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.delete-history-wrapper .delete-history-container{
    width: 272px;
    background: #ffffff;
    border-radius: 9px;
    margin: 0 auto;
    margin-top: calc( (100vh - 114px) /2 );
    padding: 16px;
    padding-top: 26px;
    text-align: center;
    position: relative;
}
.delete-history-wrapper .delete-history-container h1{
    font-size: var(--font-mobile-md);
    margin-bottom: 24px;
}
.delete-history-wrapper .delete-history-container button:first-child{
    margin-right: 8px;
}
.delete-history-wrapper .delete-history-container button{
    width: 116px;
    height: 32px;
    font-size: var(--font-mobile-md);
}
/*DeleteHistory Ends */
/*NoDestinationStart */
.no-destination-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    top: 0;
    left: 0;
}
.no-destination-wrapper .no-destination-pop-layout{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.no-destination-wrapper .no-destination-container{
    width: 272px;
    background: #ffffff;
    border-radius: 9px;
    margin: 0 auto;
    margin-top: calc( (100vh - 100px) /2 );
    padding: 16px;
    text-align: center;
    position: relative;
}
.no-destination-wrapper .no-destination-container h1{
    font-size: var(--font-mobile-md);
    margin-bottom: 16px;
}
.no-destination-wrapper .no-destination-container button{
    width: 240px;
    height: 32px;
    font-size: var(--font-mobile-md);
}
/*NoDestination Ends*/
