.slide-up-enter-active,
.slide-up-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
} 
.slide-up-enter, 
.slide-up-leave-active{
  opacity: 0.5; 
  transform: translateY(100%);
}


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  will-change: transform,opacity;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  
  transition-duration: 0.3s; 
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}
 
.slide-left-leave-active,
.slide-left-enter{   
  opacity: 0.5;
  transform: translateX(100%);
}

.slide-right-leave-active,
.slide-right-enter {  
  opacity: 0.5;
  transform: translate(-100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bg-modal {    
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 2;

  &.nested {
    z-index: 3;
  }
}