$font-mobile-sm: 12px;
$font-mobile-md: 14px;
$font-mobile-lg: 16px;
$font-plus-sm: 14px;
$font-plus-md: 16px;
$font-plus-lg: 18px;
@font-face {
    font-family: Lato;
    font-display: swap;
    src: url('~@/assets/fonts/Lato-Regular.woff');
}
@font-face {
    font-family: Lato-SemiBold;
    font-display: swap;
    src: url('~@/assets/fonts/Lato-Semibold.woff');
}
@font-face {
    font-family: Lato-Bold;
    font-display: swap;
    src: url('~@/assets/fonts/Lato-Bold.woff');
}
#pageWrapper{
    #pageHeader{
        .slide-left-enter-active{
            animation: slide-left .3s ;
        }
            .slide-left-leave-active{
            animation: slide-left .9s reverse;
        }
        @keyframes slide-left{
            from{
                transform: translate3d(-100%,0,0);
            }
            to{
                transform: translate3d(0,0,0);
            }
        } 
        .sidebar{
            font-family:Lato;
            font-size:$font-mobile-md;
            background:white;
            width: 85vw;
            height: 100%;
            z-index: 0;
            position:fixed;
            overflow-x:hidden;
            overflow-y:scroll;
        }
        .sidebar-items{
            padding:12px;
            position:relative;
            line-height: normal;
        }
        .sidebar-headings{
            padding: 8px 12px 8px 12px;
        }
        .sidebar-section{
            border-bottom:solid 1px #eeeeee;
            padding-top:8px;
        }
        .sidebar-section small{
            color:#bdbdbd;
            font-size:$font-mobile-sm;
        }
        .flex{
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
        }
        .align-center{
            align-items:center;
        }
        .pull-right{
            position: absolute;
            right:0;
        }
        .opac-enter-active{
            animation: fade .5s ;
        }
        .opac-leave-active{
            animation: fade .5s reverse;
        } 
        .overlay{
            background:black;
            opacity: 0.0;
            transform: translateX(85%);
            width: 100vw;
            height: 100vh;
            z-index: 3;
            position:fixed;
        }
        
        #close-sidebar{
            position:absolute;
            top:50%;
            right: 7%;
        }
        //global of pagewrapper
        a{
            text-decoration: none;
            font-family: Lato-SemiBold;
            color:#4f4f4e;
        }
        img{
            vertical-align: unset;
        }   
    }
    #installapp{
        padding:10px 10px;
        border: solid 1px #bdbdbd;
        background-color: #ffffff;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        overflow:hidden;
        /* position:sticky;
        top:0; */
        position:relative;
        /* z-index: 2; */
        
        #install-logos{
            color:white;
            align-items:center;
            padding-left:20px;
        } 
        #install-logos *{
            margin-right: 10px;
        }
        .install-btn{
            padding:5px !important;
        }  
        #favicon{
            font-family: none;
            width:25px;
            border-radius:5px;
            background:white;
            height:25px;
            padding:4px;
            -webkit-box-shadow: 1px 4px 2px -1px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 4px 2px -1px rgba(0,0,0,0.3);
            box-shadow: 1px 4px 2px -1px rgba(0,0,0,0.3); 
        }
        #favicon img{
            max-width:100%;
            max-height:100%;
        }
        #install-text{
            font-family: Lato;
            font-size:$font-mobile-sm;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 16px;
            letter-spacing: normal;
            color: #4f4f4e;
            text-align: left;
        }
        .btn-orange a{
            font-family: Lato;
            font-size:$font-mobile-sm;
            text-decoration: none;
            color:white;
            text-align: center;
        }
        .btn-orange{
            padding: 6px;
            font-family: Lato-Bold;
            font-size:$font-mobile-sm;
            text-decoration: none;
            text-align: center;
            background-color: #f97432;
            color: #ffffff;
            border-radius:50px; 
        }
        .row{
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .Close {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
        //global of pagewrapper
        a{
            text-decoration: none;
            font-family: Lato-SemiBold;
            color:#4f4f4e;
        }
        img{
            vertical-align: unset;
        }     
    } 
    line-height: normal; 
    .sidebaropen{
        transition: transform .5s;
        transform: translate3d(85%,0,0) !important;
        position:fixed;
        width:100%;
    } 
    .flex-center{
        align-items:center !important;
        justify-content: center !important;
        text-align:center !important;
    }  
    .shadow{
        -webkit-box-shadow: 6px 19px 47px -1px rgba(0,0,0,0.36);
        -moz-box-shadow: 6px 19px 47px -1px rgba(0,0,0,0.36);
        box-shadow: 6px 19px 47px -1px rgba(0,0,0,0.36); 
    }  
    .center{
        text-align:center;
    }
    .icon{
        width:16px;
        height:16px;
        margin-right:12px;
    } 
    *, ::after, ::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        letter-spacing: 0px !important;
    }
    #viewport{
        transition: transform .5s;
        z-index:1;
        background:#fafafa;
        -webkit-box-shadow: -4px 2px 8px -1px rgba(0,0,0,0.4);
        -moz-box-shadow: -4px 2px 8px -1px rgba(0,0,0,0.4);
        box-shadow: -4px 2px 8px -1px rgba(0,0,0,0.4); 
    }
    #pageFooter{ 
        .flex{
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
        }    
        .footer{
            background-color: #8996a3;
            padding:15px 10px 40px 10px;
            display:flex;
        }
        .footer label{
            font-size:$font-mobile-md;
            font-family: Lato;
            display:block;
            text-align: left !important;
            color: #ffffff;
            line-height:28px;
            margin-bottom:0px;
            text-decoration:none;
        }
        .footer h2{
            font-size:$font-mobile-md;
            font-family:Lato;
            color:white;
            display: block;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        .footer-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer-section{
            width:70%;
            display:flex;
            flex-direction: column;
        }
        
        .social-icons{
            max-width: 24px;
            max-height:24px;
            margin:0px 10px;
        }
        .social-icons img{
            object-fit:contain;
            width:100%;
        }
        //global of pagewrapper
        a{
            text-decoration: none;
            font-family: Lato-SemiBold;
            color:#4f4f4e;
        }
        img{
            vertical-align: unset;
        }  
    } 
}
@media screen and (min-width: 321px){
    #page-wrapper{
        #install-text{font-size:$font-plus-sm;}
        .btn-orange a {font-size:$font-plus-sm;}
        .sidebar{font-size:$font-plus-md;}
        .sidebar-section small{font-size:$font-plus-sm;}
        .btn-orange{font-size:$font-plus-sm;}
        .footer label{font-size:$font-plus-md;}
        .footer h2{font-size:$font-plus-md;}
        .text-style-1{font-size:$font-plus-md;}
    }
}