<template>
  <div class="container">
  <div class="thankspage text-center">
    <div class="padT15 padB20">
    </div>
    <div><b>Page not found mweb</b></div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'not-found'
}
</script>

<style lang="scss" scoped>
.thankspage{
  b {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inherit;
  }
}
</style>
