<template>
  <section >  
     <div class="homepage">
        <searchBox
          :holiday="holiday"
          :hotelSearchData="hotelSearchData"
          @searchBoxDataUpdate="searchBoxDataUpdateAction($event)" >
        </searchBox>   
        <vue-last-search-history> </vue-last-search-history>
    </div> 
    <vue-homepage-bottom></vue-homepage-bottom>     
  </section> 
</template>
<script> 
import SearchBox from '@/components/homepage/SearchBox' 
import LastSearchHistory from '@/components/homepage/LastSearchHistory' 
import HomepageBottom from '@/components/homepage/HomepageBottom' 
import { mapState ,mapMutations } from 'vuex'
export default {
  name: 'Homepage', 
  components: {
    SearchBox, 
    vueHomepageBottom: HomepageBottom, 
    vueLastSearchHistory: LastSearchHistory
  },  
  data() {
      return {  
      holiday: {  
        "2018/1/1": "Tahun Baru Masehi",
        "2018/2/16": "Tahun Baru Imlek",
        "2018/3/17": "Hari Raya Nyepi",
        "2018/3/30": "Jumat Agung",
        "2018/4/14": "Isra Miraj",
        "2018/5/1": "Hari Buruh Internasional",
        "2018/5/10": "Kenaikan Isa Almasih",
        "2018/5/29": "Hari Raya Waisak",
        "2018/6/1": "Hari Lahir Pancasila",
        "2018/6/15": "Hari Raya Idul Fitri",
        "2018/6/16": "Hari Raya Idul Fitri",
        "2018/8/17": "Hari Kemerdekaan RI",
        "2018/8/22": "Idul Adha",
        "2018/9/11": "Tahun Baru Hijriyah",
        "2018/11/20": "Maulid Nabi Muhammad SAW",
        "2018/12/24": "Cuti Bersama Hari Raya Natal",
        "2018/12/25": "Hari Raya Natal",
        "2019/1/1": "Tahun Baru Masehi",
        "2019/2/5": "Tahun Baru Imlek",
        "2019/3/7": "Hari Raya Nyepi",
        "2019/4/3": "Isra Miraj",
        "2019/4/19": "Jumat Agung",
        "2019/5/1": "Hari Buruh Internasional",
        "2019/5/19": "Hari Raya Waisak",
        "2019/5/30": "Kenaikan Isa Almasih",
        "2019/6/1": "Hari Lahir Pancasila",
        "2019/6/3": "Cuti Bersama Hari Raya Idul Fitri",
        "2019/6/4": "Cuti Bersama Hari Raya Idul Fitri",
        "2019/6/5": "Hari Raya Idul Fitri",
        "2019/6/6": "Hari Raya Idul Fitri",
        "2019/6/7": "Cuti Bersama Hari Raya Idul Fitri", 
        "2019/8/11": "Idul Adha",
        "2019/8/17": "Hari Kemerdekaan RI",
        "2019/9/1": "Tahun Baru Hijriyah",
        "2019/11/9": "Maulid Nabi Muhammad SAW",
        "2019/12/24": "Cuti Bersama Hari Raya Natal",
        "2019/12/25": "Hari Raya Natal",
        "2020/1/1": "Tahun Baru Masehi",
        "2020/1/25": "Tahun Baru Imlek",
        "2020/3/22": "Isra Miraj",
        "2020/3/25": "Hari Raya Nyepi",
        "2020/4/10": "Jumat Agung",
        "2020/5/1": "Hari Buruh Internasional",
        "2020/5/7": "Hari Raya Waisak",
        "2020/5/21": "Kenaikan Isa Almasih",
        "2020/5/24": "Hari Raya Idul Fitri",
        "2020/5/25": "Hari Raya Idul Fitri",
        "2020/5/26": "Cuti Bersama Hari Raya Idul Fitri",
        "2020/5/27": "Cuti Bersama Hari Raya Idul Fitri",
        "2020/5/28": "Cuti Bersama Hari Raya Idul Fitri",
        "2020/6/1": "Hari Lahir Pancasila",
        "2020/7/31": "Idul Adha",
        "2020/8/17": "Hari Kemerdekaan RI",
        "2020/8/20": "Tahun Baru Hijriyah",
        "2020/10/29": "Maulid Nabi Muhammad SAW",
        "2020/12/24": "Cuti Bersama Hari Raya Natal",
        "2020/12/25": "Hari Raya Natal",
        "2021/1/1": "Tahun Baru Masehi" 
      },
      }
  },
  computed:{
    ...mapState({  
      hotelSearchData: state => state.hotelSearchData,
    }), 
  },
  methods: {
    ...mapMutations({
      updateHotelSearchData: 'updateHotelSearchData'
    }), 
    searchBoxDataUpdateAction(event){ 
      this.updateHotelSearchData(event)
    }, 
  },
}
</script>  
<style lang="scss">  
  @import '@/assets/css/homepage.scss'; 
</style>
