<template>
    <div id="pageWrapper">
        <div id="pageHeader" v-if="showHamburgerSideBar()">
            <SideBar :showSidebar="showSidebar"/>
            <Overlay @removeOverlay="onNavClick" :overlayActive="showSidebar"/>
        </div>    
        <div id="viewport" 
            :class="{sidebaropen : showSidebar}" 
            :style="{
                'top' : currentScroll + 'px',
                'position' : showSidebar ? 'fixed' : 'relative'
            }"
            > 
            
            <InstallBar />
            <NavBar :showSidebar="showSidebar" @navigation-click-on="onNavClick" v-if="showHamburgerSideBar()" /> 
            
            <div id="main" >  
                <nuxt-child></nuxt-child>
            </div> 
            
            <div id="pageFooter" v-if="showFooter()">
                <FooterPegi/>  
            </div>
        </div> 
    </div>
</template>
<script>
import NavBar from '@/components/pagewrapper/NavBar'
import InstallBar from '@/components/pagewrapper/InstallBar'
import FooterPegi from '@/components/pagewrapper/FooterPegi'
import Overlay from '@/components/pagewrapper/Overlay'
import { mapMutations } from 'vuex' 
import * as cookies from '@/util/cookies'
import moment from 'moment';
import SideBar from '@/components/pagewrapper/SideBar'

export default {
    name: 'PageWrapper',
    components: {
        NavBar,
        InstallBar,
        FooterPegi,
        Overlay,
        SideBar,
    },
    props: {
        isHome: Boolean
    },
    data(){
        return{
            showSidebar: false,
            currentScroll: 0,
            dataCookieHistory: [],
        }
    },
    methods:{ 
        ...mapMutations({  
            updateHotelSearchData:'updateHotelSearchData',
        }), 
        onNavClick: function(){
            if(this.showSidebar == false){
                this.currentScroll = window.scrollY*-1 
            }
            else{
                let temp = this.currentScroll
                this.currentScroll = 0
                this.$nextTick(function () {
                    window.scrollTo(0,temp*-1)
                });
                
            }
            this.showSidebar= !this.showSidebar
        
        }, 
        showHamburgerSideBar(){
            return this.$router.currentRoute.name === 'Homepage'
        },
        showFooter(){ 
            return this.$router.currentRoute.name === 'Homepage'
        },
        setDefault(){
            if(this.dataCookieHistory !== null){ 
                let lastSearchObj = this.dataCookieHistory[0]  
                
                let currentDay = moment();  
                const daysCheckInPassed = moment(lastSearchObj.dateInfo.checkIn).startOf('day').diff( currentDay.startOf('day'),'day')
                const daysCheckOutPassed = moment(lastSearchObj.checkOut).startOf('day').diff( currentDay.startOf('day'),'day')
                
                if( daysCheckInPassed  < 0 ){
                    lastSearchObj.dateInfo.checkIn = currentDay.format() 
                } 
                currentDay.add('1','day') 
                if( daysCheckOutPassed < 0 ){          
                    lastSearchObj.dateInfo.checkOut = currentDay.format()
                }   
                this.updateHotelSearchData( lastSearchObj)
                cookies.default.setCookiesSearch(lastSearchObj)
            } 
        },
    }, 
    mounted(){ 
        this.dataCookieHistory = cookies.default.getCookieHistory()
        this.setDefault() 
    }, 
}
</script>  
