<template>
    <div class="delete-history-wrapper"> 
        <div class="delete-history-pop-layout" @click="closeRoom"></div>
        <div class="delete-history-container">
            <h1>Ingin menghapus semua data Pencarian Terakhir ?</h1>
            <div>
                <vue-button
                size="small"
                btnType="pills-secondary"
                @click.native="closeRoom(true)">Ya, Hapus</vue-button>
                <vue-button
                size="small"
                btnType="pills-primary"
                @click.native="closeRoom(false)">Tidak</vue-button> 
            </div>
        </div>
    </div>
</template>
<script>
import Button from '@/components/generals//Button' 
    export default {
        name: 'DeleteHistoryModal',
        components: {
            vueButton: Button
        },
        methods: {
            closeRoom(val){
                this.$emit('showDeleteHistoryModal', {'status':false, 'clear': val} )
            }
        }
    }
</script> 
