<template>
    <section class="homepage-bottom-wrapper">
        <div class="swiper-banner" v-if="dataBanner !== ''">
            <div class="over-hiden">
              <div class="container">
                  <div class="promo-header-title clearfix">
                      <div class="home-icon icon-promo-lg"></div>
                      <span>Promo Hotel</span>
                  </div>
              </div>
              <div class="swiper-custom-wrapper">
                <swiper :options="swiperBanner">
                  <swiper-slide v-for="(item, i) in dataBanner" :key="i">
                    <a class="item-baner" :href="item.url">
                      <img :src="addHttps(item.banner_image)" alt="baner"/>
                    </a>
                  </swiper-slide>
                  <div class="swiper-pagination-banner" slot="pagination"></div>
                </swiper>
              </div>
            </div>
        </div>
        <div class="homepage-bottom-content">
            <div class="tujuan-populer-wrapper">
                <div class="tujuan-populer-title clearfix">
                    <div class="home-icon icon-map-lg"></div>
                    <span>Tujuan Populer</span>
                </div>
                <div class="tujuan-populer-content">
                    <div class="row">
                        <div class="col-4">
                            <div class="tujuan-populer-location clearfix" @click="popularAttractionStatus(true)">
                                <img src="@/assets/img/Atraksi-populer.jpg" alt="Hotel dekat atraksi populer">
                                <span>ATRAKSI POPULER</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="//www.pegipegi.com/hotel/jakarta/">
                                <div class="tujuan-populer-location clearfix">
                                    <img src="@/assets/img/jakarta.jpg" alt="Hotel di Jakarta">
                                    <span>JAKARTA</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="//www.pegipegi.com/hotel/bali/">
                                <div class="tujuan-populer-location clearfix">
                                    <img src="@/assets/img/bali.jpg" alt="Hotel di Bali">
                                    <span>BALI</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a href="//www.pegipegi.com/hotel/bandung/">
                                <div class="tujuan-populer-location clearfix">
                                    <img src="@/assets/img/Bandung.jpg" alt="Hotel di Bandung">
                                    <span>BANDUNG</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="//www.pegipegi.com/hotel/jogja/">
                                <div class="tujuan-populer-location clearfix">
                                    <img src="@/assets/img/prambanan-jogja.jpg" alt="Hotel di Jogja">
                                    <span>JOGJA</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="//www.pegipegi.com/hotel/surabaya/">
                                <div class="tujuan-populer-location clearfix">
                                    <img src="@/assets/img/Suramadu.jpg" alt="Hotel di Surabaya">
                                    <span>SURABAYA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="homepage-faqs-content">
                <div class="homepage-faqs-content-title">
                    <h1>Booking Hotel Mudah, Murah, dan Banyak Pilihannya Hanya di Pegipegi</h1>
                    <p>Menginap di hotel atau penginapan yang nyaman merupakan salah satu cara terbaik untuk menikmati perjalanan, baik itu untuk liburan ataupun perjalanan bisnis.</p>
                </div>
                <div class="faqs-toogle"
                    @click="showFaqs = !showFaqs">
                    <template v-if="showFaqs">Sembunyikan</template>
                    <template v-else>Selengkapnya</template>
                <span :class="{'active': showFaqs}"></span>
                </div>
                <div class="faqs-text" v-if="showFaqs">
                    <p>Di Pegipegi, Anda bisa dengan mudah menemukan hotel atau penginapan yang tepat plus sesuai bujet, mulai dari hotel murah, <i>boutique</i> hotel, hingga hotel bintang 5. Nah, momen mencari hotel terbaik ini juga menjadi hal yang penting, khususnya bagi Anda yang berencana liburan bersama keluarga. Anda perlu melengkapi informasi mengenai fasilitas dan keunikan yang ditawarkan dari masing-masing hotel untuk menyesuaikannya dengan kebutuhan Anda. Misalnya, bagi yang gemar berfoto Anda dapat memilih hotel bergaya industrialis atau hotel syariah untuk Anda yang mencari nuansa Islami. Bagaimana Pegipegi membantu Anda menemukan hotel terbaik dengan mudah?</p>

                    <h2>Mau Hotel Seperti Apa? Pegipegi Banyak Pilihannya!</h2>
                    <p>Apapun kebutuhan perjalanan Anda, Pegipegi hadir sebagai <i>fun traveling partner</i>&nbsp; yang siap membantu Anda melakukan pemesanan hotel. Melalui sistem pemesanan yang berbasis <i>online</i>, Anda dapat mengakses Pegipegi dari aplikasi <i>booking</i> hotel di smartphone maupun situs desktop dan mobile. Tak hanya untuk <i>booking</i> hotel murah, Anda juga dapat menemukan inspirasi dan informasi seputar promo hotel dari media sosial dan situs Pegipegi.</p>
                    <br>
                    <p>Selain itu, Pegipegi juga menawarkan banyak pilihan hotel yang bisa dipesan secara <i>online</i>. Mulai dari hotel kelas menengah hingga kelas berbintang untuk kebutuhan menginap Anda selama <i>traveling</i>. Anda juga bisa dengan mudah menemukan hotel-hotel strategis seperti hotel dekat bandara, hotel dekat pantai, hotel dekat stasiun, dan hotel dekat tempat wisata.</p>
                    <br>
                    <p>Bersama Pegipegi, Anda tak perlu khawatir kehabisan pilihan hotel menarik, karena Pegipegi menyediakan lebih dari 25.000 pilihan hotel di Indonesia dan juga internasional. Mulai dari hotel di Bandung, hotel di Jogja, hotel di Malang, hotel di  Surabaya, hotel di Jakarta, hotel di Bali, hotel di Semarang, hingga hotel di Singapore, hotel di Kuala Lumpur, dan hotel di Penang. Selain hotel, Anda juga bisa menemukan penginapan murah atau bujet seperti <i>homestay, guest house, hostel,</i>dan villa murah.</p>
                    <br>
                    <p>Untuk menjamin kenyamanan Anda, Pegipegi bekerja sama secara resmi dengan berbagai grup hotel terkemuka. Mulai dari Amaris Hotel, POP! Hotel, HARRIS Hotel, Swiss-Belhotel, Whiz Hotel, Red Planet Hotel, favehotel, Aston Hotel, Santika Hotel, Jayakarta Hotel, Sahid Hotel, Horison Hotel, Kagum Hotel, Best Western Hotel, Grand Tjokro Hotel, Airy, ZEN Rooms, RedDoorz Hotel, dan banyak lagi lainnya.</p>

                    <h2>Pastikan Anda Memilih Hotel Tepat dengan Informasi Akurat</h2>
                    <p>Ragu pas mau pesan hotel? Tenang, di Pegipegi Anda dapat melihat <i>rating</i> dan membaca <i>review</i> (ulasan) asli yang dikirim langsung oleh wisatawan pada setiap hotel. <i>Rating</i> dan <i>review</i> ini bisa Anda manfaatkan sebagai pertimbangan dalam memilih hotel yang tepat sesuai dengan kebutuhan perjalanan Anda.</p>
                    <br>
                    <p>Selain itu, informasi dari setiap hotel berupa foto-foto, pilihan tipe kamar, tempat-tempat menarik di sekitar hotel serta fasilitas hotel lainnya seperti ada atau tidaknya kolam renang, restoran, layanan spa, pusat kebugaran, dan fasilitas bisnis juga bisa dengan mudah Anda temukan di Pegipegi.</p>
                    <br>
                    <p>Bagi Anda yang membutuhkan hotel-hotel dekat dengan tempat menarik tertentu, misalnya hotel dekat Malioboro, hotel dekat Taman Safari, hotel dekat Trans Studio Bandung, hotel dekat Bandara Juanda, atau hotel dekat Pantai Kuta, Pegipegi hadir memberikan rekomendasi yang akurat meliputi jarak tempuh dan informasi detail mengenai tempat-tempat menarik tersebut.</p>

                    <h2>Galau Mau Bayar Pakai Apa? Tenang, Semua Bisa!</h2>
                    <p>Setelah melihat <i>rating</i>, membaca <i>review</i>, dan memilih hotel yang Anda inginkan, tahap selanjutnya adalah melakukan pembayaran. Untuk melengkapi kemudahan, keamanan, dan kenyamanan Anda, Pegipegi dibekali dengan berbagai metode pembayaran. Mulai dari transfer bank melalui ATM, perbankan <i>online</i>, kartu kredit, hingga cicilan 0%. Selain itu, Anda juga dapat mengunjungi Alfamart atau Indomaret terdekat untuk melakukan pembayaran secara tunai.</p>

                    <h2>Didukung oleh <i>Customer Service</i> Berpengalaman</h2>
                    <p>Satu lagi yang menjadi kelebihan Pegipegi. Bila Anda menemukan kesulitan atau membutuhkan bantuan saat melakukan <i>booking</i> hotel secara <i>online</i>, Anda dapat menghubungi <i>Customer Service</i> Pegipegi di nomor telepon 0804 1400 777. Dengan pelayanan yang profesional dan berpengalaman, <i>Customer Service</i> Pegipegi siap membantu Anda setiap hari selama 24 jam.</p>
                    <br>
                    <p>Selain itu, <i>Customer Service</i> Pegipegi juga dapat membantu Anda untuk melakukan pembatalan pemesanan (<i>cancel</i>), pengembalian dana (<i>refund</i>), atau penjadwalan ulang (<i>reschedule</i>) pada pemesanan hotel yang telah berhasil Anda lakukan. Oleh sebab itu, Anda tak perlu panik pemesanan akan hangus. </p>
                    <br>
                    <p>Jadi tunggu apalagi? Segera <i>booking</i> hotel impian Anda melalui Pegipegi dan temukan berbagai promo hotel menarik untuk menyempurnakannya.</p>
                    <br>
                    <p>Mudah pakainya, semakin banyak pilihan hotelnya! #pegipegiyuk</p>
                </div>
            </div>
            <h1 class="hotel-patner-title">Partner Hotel Pegipegi</h1>
            <PartnerCarousel :slides="hotelData" />
        </div>
        <transition :name="'slide-left'" mode="out-in">
            <vue-popular-attraction v-if="isPopularAttractionVisible"
                @showPopularAttraction="popularAttractionStatus(false)">
            </vue-popular-attraction>
        </transition>
    </section>
</template>

<script>
import PopularAttraction from '@/components/homepage/PopularAttraction'
import hotelpartners from '@/util/partnersstatic/hotel'
import PartnerCarousel from '@/components/generals/PartnerCarousel'
import { bannerInstance } from '@/services/banner.services';

 export default {
    name: 'HomepageBottom',
    components:{
        vuePopularAttraction: PopularAttraction,
        PartnerCarousel
    },
    data () {
        return {
            hotelData:hotelpartners,
            showFaqs: false,
            isPopularAttractionVisible: false,
            dataBanner: [],
            swiperBanner: {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 200,
                    modifier: 1,
                    slideShadows : true
                },
                pagination: {
                    el: '.swiper-pagination-banner'
                }
            },
        }
    },
    methods: {
        popularAttractionStatus(status) {
            this.isPopularAttractionVisible = status
            this.isScrollDisabled(status)
        },
        getBanner () {
            return bannerInstance.get('groupBanner')
        },
        addHttps ( links ){
            return links.replace('http','https')
        }
    },
    mounted (){
     this.getBanner().then(resp =>
      this.dataBanner = resp.data
    )
  },
}
</script>
 <style lang="scss">
   .swiper-custom-wrapper{
     overflow: visible;
     margin: 0 47px;
     .swiper-container, .swiper-wrapper{
       overflow: visible;
     }

   }
 </style>
