<template>
    <section class="last-search-history"> 
        <div id="swiperHistory" class="swiper-history" v-if="dataCookieHistory !== null">
            <div class="container">
            <swiper :options="swiperOption">
                <swiper-slide class="clearfix"
                            v-for="(item, itemIndex) in dataCookieHistory" :key="itemIndex"   >
                <div @click="historySelected(item,itemIndex)">
                    <div class="home-icon icon-location"></div>
                    <div class="div-last-search">
                        <div class="lbel">Pencarian Terakhir</div>
                        <div class="name-last-search">
                        <div class="elips">{{ item.selectedLocation.maintext }}</div>
                        </div>
                        <div class="time-last-search">{{pencaharianTerakhirText(item)}}</div>
                    </div>
                </div>
                </swiper-slide>
                <swiper-slide class="trash text-center">
                <div @click="deleteHistoryModalStatus({'status':true})">
                    <div class="home-icon icon-trash"></div>
                    <div class="c-orange">Hapus Pencarian</div>
                </div>
                </swiper-slide> 
            </swiper>
            </div>
        </div>
        <vue-delete-history-Modal v-show="isDeleteHistoryModalVisible"
        @showDeleteHistoryModal="deleteHistoryModalStatus($event)"></vue-delete-history-Modal>
    </section>
</template>
<script>
import moment from 'moment';
import {monthsName} from '@/util/lang/id'
import * as cookies from '@/util/cookies'
import DeleteHistoryModal from '@/components/homepage/DeleteHistoryModal'
import { mapMutations } from 'vuex'

export default {
    name: 'lastSearchHistory',
    components: {
        vueDeleteHistoryModal: DeleteHistoryModal,
    },
    data(){
        return{
            swiperOption: {
                slidesPerView: 'auto',
                centeredSlides: false,
                spaceBetween: 10,
                pagination: {
                el: '.swiper-pagination',
                clickable: true
                }
            },
            dataCookieHistory: [],
            isDeleteHistoryModalVisible: false,
        }
    },
    methods:{
        ...mapMutations({
            updateHotelSearchData: 'updateHotelSearchData'
        }),
        historySelected(item,itemIndex){
            let newObj = item;
            const currentDay = moment()
            if( moment(newObj.dateInfo.checkIn).startOf('day').diff(currentDay.startOf('day'),'d') < 0 ){
                newObj.dateInfo.checkIn = moment().format()
            }
            currentDay.add(1,'d') 
            if( moment(newObj.dateInfo.checkOut).startOf('day').diff(currentDay.startOf('day'),'d') < 0 ){ 
                newObj.dateInfo.checkOut = currentDay.format()  
            }   
            this.updateHotelSearchData(newObj)
            newObj.historyPosition = itemIndex;
            cookies.default.setCookiesSearch(newObj)
            this.$router.push({name:'SearchResult'})
        },
        pencaharianTerakhirText(item){
            const checkIn = moment(item.dateInfo.checkIn);
            const checkOut = moment(item.dateInfo.checkOut);
            const checkInMonths = monthsName[checkIn.month()].substr(0,3)
            const checkOutnMonths = monthsName[checkOut.month()].substr(0,3)
            const guestCount = item.guestRoomInfo.guestCount
            const roomCount = item.guestRoomInfo.roomCount

            return  `${checkIn.date()} ${checkInMonths} ${checkIn.format('YY')} -
            ${checkOut.date()} ${checkOutnMonths} ${checkOut.format('YY')} | ${guestCount}
            Tamu • ${roomCount} Kamar`
        },
        deleteHistoryModalStatus(event){
            this.isDeleteHistoryModalVisible = event.status
            this.isScrollDisabled(event.status)
            if(event.clear & event.clear !== undefined){
                cookies.default.clearCookieInPage()
            }
        },
    },
    mounted (){  
        this.dataCookieHistory = cookies.default.getCookieHistory()      
         
    },  
}
</script>
