<template>
    <div class="no-destination-wrapper"> 
        <div class="no-destination-pop-layout" @click="closeRoom"></div>
        <div class="no-destination-container">
            <h1>Anda belum mengisi destinasi atau nama hotel yang diinginkan</h1>
            <div>
                <vue-button
                size="small"
                btnType="pills-primary"
                @click.native="closeRoom()">Mengerti</vue-button> 
            </div>
        </div>
    </div>
</template>
<script>
import Button from '@/components/generals//Button' 
    export default {
        name: 'NoDestinationPopOut',
        components: {
            vueButton: Button
        },
        methods: {
            closeRoom(){
                this.$emit('showNoDestinationPopOut')
            }
        }
    }
</script> 