<template>
    <section class="popular-attraction-wrapper">
        <div class="popular-attraction-header">
            <div class="exit-icon" @click="showPopularAttraction()">
                <div class="home-icon icon-arrow-lg"></div> 
            </div> 
            <div class="search-box clearfix"> 
                <!-- Apparently V-model does not work on some phone  so itonly work perfectly handling
                on user input with long-hand of v-model -->
                <input type="text"
                placeholder="Ketik destinasi"
                :value="searchText"
                ref="searchDestination"
                @input="searchText = $event.target.value"> 
                <div class="home-icon icon-clear"
                    @click="searchText = ''">
                </div>
            </div>
        </div>
        <div class="popular-attraction-content" ref="popularAttraction" v-on:scroll.passive="hideIosSoftKeyboard('searchDestination')">  
            <template v-if="(getLocationData.length !== 0 )">
                <div class="location-wrapper" 
                    v-for="(locationData,locationDataIndex) in getLocationData"
                    :key="locationDataIndex + 'city'">
                    <h1 class="location-header"><span><div class="home-icon icon-city-2"></div></span>{{locationData.city}}</h1>
                    <div class="location-content" 
                        v-for="(location,locationIndex) in locationData.location"
                        :key="locationIndex + 'location'">
                        <a :href="location.url">
                            <template v-if="location.type == 'attraction' "> 
                                <div class="home-icon icon-attraction-sm"></div> 
                            </template>
                            <template v-if="location.type == 'area' ">
                                <div class="home-icon icon-area-sm"></div> 
                            </template>
                            <template v-if="location.type == 'city' ">
                                <div class="home-icon icon-city-sm"></div> 
                            </template>
                            <div class="location">
                                <h2>{{location.name}}</h2> 
                                <p>Landmark: {{locationData.city}} <span>(123 Hotel)</span></p>
                            </div> 
                        </a>
                    </div> 
                </div> 
            </template>
            <template v-else>
                <div class="no-result-wrapper">
                    <img src="@/assets/img/close@3x.png" alt="search not found" width="92" height="100">
                    <div class="no-result-text-title">Kata kunci yang Anda pakai tidak ditemukan.</div>  
                    <div class="no-result-text">Silakan ubah kata kunci lain atau periksa koneksi internet anda</div>
                </div>
            </template>  
        </div>
    </section>
</template>
<script> 
//import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';

export default {
    name: 'PopularAttraction',
    mounted(){
      //BodyScrollLock.disableBodyScroll(this.$refs.popularAttraction);
    },
    data(){
        return{  
            searchText:'',
            clientHeight:0,
            locationData:[
                { city:'Jakarta', location:[
                    { name: 'Monas', type: 'attraction', url: 'http://www.pegipegi.com/hotel/jakarta/dekat-monas-1480000521/', totalHotel:123 },
                    { name: 'Bandara Soekarno Hatta', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-bandara-soekarno-hatta-1160000294/', totalHotel:123 },
                    { name: 'The Plaza Semanggi', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-the-plaza-semanggi-1240000022/', totalHotel:123 },
                    { name: 'Stasiun Gambir', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-stasiun-gambir-1910000531/', totalHotel:123 },
                    { name: 'Kota Tua Jakarta', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-kota-tua-jakarta-1220000541/', totalHotel:123 },
                    { name: 'Bandara Halim Perdana Kusuma', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-bandara-halim-perdana-kusuma-1360000197/', totalHotel:123 },
                    { name: 'Central Park', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-central-park-1710000161/', totalHotel:123 },
                    { name: 'Stasiun Pasar Senen', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-stasiun-pasar-senen-1500000544/', totalHotel:123 },
                    { name: 'Senayan City', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-senayan-city-1710000303/', totalHotel:123 },
                    { name: 'Sarinah', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-sarinah-1350000129/', totalHotel:123 },
                    { name: 'Plaza Senayan', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-plaza-senayan-1510000257/', totalHotel:123 },
                    { name: 'Pasar Tanah Abang', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jakarta/dekat-pasar-tanah-abang-1460000130/', totalHotel:123 }, 
                ]},
                { city:'Bogor', location:[
                    { name: 'Taman Safari', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bogor/dekat-taman-safari-1280000523/', totalHotel:123 },
                    { name: 'Kebun Raya Bogor', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bogor/dekat-kebun-raya-bogor-1480000532/', totalHotel:123 },
                    { name: 'Jungleland', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bogor/dekat-jungleland-1700000539/', totalHotel:123 },
                ]},
                { city:'Bandung', location:[ 
                    { name: 'Stasiun Bandung', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-stasiun-bandung-1930000522/', totalHotel:123 },
                    { name: 'Kampung Gajah', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-kampung-gajah-1300000533/', totalHotel:123 },
                    { name: 'ITB', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-itb-1230000535/', totalHotel:123 },
                    { name: 'Floating Market Lembang', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-floating-market-lembang-1180000536/', totalHotel:123 },
                    { name: 'Plaza Dago', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-plaza-dago-1530000173/', totalHotel:123 },
                    { name: 'Paris Van Java Mall', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bandung/dekat-paris-van-java-mall-1260000214/', totalHotel:123 },
                ]},
                { city:'Surabaya', location:[ 
                    { name: 'Bandara Juanda', type: 'attraction', url: 'https://www.pegipegi.com/hotel/surabaya/dekat-bandara-juanda-1940000199/', totalHotel:123 },
                    { name: 'Tunjangan Plaza', type: 'attraction', url: 'https://www.pegipegi.com/hotel/surabaya/dekat-tunjungan-plaza-1670000319/', totalHotel:123 },
                ]},
                { city:'Bali', location:[
                    { name: 'Bandara Ngurah Rai', type: 'attraction', url: 'https://www.pegipegi.com/hotel/bali/dekat-bandara-ngurah-rai-1890000119/', totalHotel:123 },
                ]},
                { city:'Jogja', location:[ 
                    { name: 'UGM', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-ugm-1730000524/', totalHotel:123 },
                    { name: 'Stasiun Tugu', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-stasiun-tugu-1690000525/', totalHotel:123 },
                    { name: 'Stasiun Lempuyangan', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-stasiun-lempuyangan-1040000529/', totalHotel:123 },
                    { name: 'Bandara Adisutjipto', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-bandara-adisutjipto-1720000002/', totalHotel:123 },
                    { name: 'Ambarukmo Plaza', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-ambarukmo-plaza-1260000116/', totalHotel:123 },
                    { name: 'Jogja City Mall', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-jogja-city-mall-1290000133/', totalHotel:123 },
                    { name: 'Galeria Mall Jogja', type: 'attraction', url: 'https://www.pegipegi.com/hotel/jogja/dekat-galeria-mall-jogja-1060000190/', totalHotel:123 },
                ]},
                { city:'Solo', location:[
                    { name: 'Stasiun Solo Balapan', type: 'attraction', url: 'https://www.pegipegi.com/hotel/solo/dekat-stasiun-solo-balapan-1710000537/', totalHotel:123 },
                    { name: 'Solo Square', type: 'attraction', url: 'https://www.pegipegi.com/hotel/solo/dekat-solo-square-1250000271/', totalHotel:123 },
                ]},
                { city:'Cianjur', location:[ 
                    { name: 'Taman Bunga Nusantara', type: 'attraction', url: 'https://www.pegipegi.com/hotel/cianjur/dekat-taman-bunga-nusantara-1870000540/', totalHotel:123 }, 
                ]},
                { city:'Malang', location:[
                    { name: 'Universitas Brawijaya', type: 'attraction', url: 'https://www.pegipegi.com/hotel/malang/dekat-universitas-brawijaya-1280000527/', totalHotel:123 },
                    { name: 'Stasiun Malang', type: 'attraction', url: 'https://www.pegipegi.com/hotel/malang/dekat-stasiun-malang-1120000528/', totalHotel:123 },
                    { name: 'Jatim Park 2', type: 'attraction', url: 'https://www.pegipegi.com/hotel/malang/dekat-jatim-park-2-1980000530/', totalHotel:123 },
                    { name: 'Museum Angkut', type: 'attraction', url: 'https://www.pegipegi.com/hotel/malang/dekat-museum-angkut-1370000534/', totalHotel:123 },
                    { name: 'Sarinah Plaza Malang', type: 'attraction', url: 'https://www.pegipegi.com/hotel/malang/dekat-sarinah-plaza-malang-1310000176/', totalHotel:123 },
                ]}, 
                { city:'Tangerang', location:[
                    { name: 'Summarecon Mall Serpong', type: 'attraction', url: 'https://www.pegipegi.com/hotel/tangerang/dekat-summarecon-mall-serpong-1280000029/', totalHotel:123 },
                ]}, 
                { city:'Tangerang Selatan', location:[
                    { name: 'Ice BSD City', type: 'attraction', url: 'https://www.pegipegi.com/hotel/tangerang_selatan/dekat-ice-bsd-city-1600000545/', totalHotel:123 },
                ]}, 
                { city:'Makassar', location:[
                    { name: 'Pantai Losari', type: 'attraction', url: 'https://www.pegipegi.com/hotel/makassar/dekat-pantai-losari-1440000297/', totalHotel:123 },
                ]}, 
                { city:'Semarang', location:[
                    { name: 'Stasiun Semarang Tawang', type: 'attraction', url: 'https://www.pegipegi.com/hotel/semarang/dekat-stasiun-semarang-tawang-1570000543/', totalHotel:123 },
                ]},
                { city:'Padang', location:[
                    { name: 'Suzuya Rocky Plaza', type: 'attraction', url: 'https://www.pegipegi.com/hotel/padang/dekat-suzuya-rocky-plaza-1220000164/', totalHotel:123 },
                ]},
                { city:'Purwokerto', location:[
                    { name: 'Stasiun Purwokerto', type: 'attraction', url: 'https://www.pegipegi.com/hotel/purwokerto/dekat-stasiun-purwokerto-1110000538/', totalHotel:123 },
                ]},
                { city:'Manado', location:[
                    { name: 'Manado Town Square', type: 'attraction', url: 'https://www.pegipegi.com/hotel/manado/dekat-manado-town-square-1890000526/', totalHotel:123 },
                    { name: 'Mega Mall Manado', type: 'attraction', url: 'https://www.pegipegi.com/hotel/manado/dekat-mega-mall-manado-1820000236/', totalHotel:123 },
                    { name: 'Mega Trade Center', type: 'attraction', url: 'https://www.pegipegi.com/hotel/manado/dekat-mega-trade-center-1620000078/', totalHotel:123 },
                ]},
                { city:'Stasiun Tegal', location:[
                    { name: 'Tegal', type: 'attraction', url: 'https://www.pegipegi.com/hotel/tegal/dekat-stasiun-tegal-1560000542/', totalHotel:123 } 
                ]},  
            ],
            filteredLocationData:[]
        }
    },
    // beforeDestroy: function(){
      //BodyScrollLock.enableBodyScroll(this.$refs.popularAttraction);
      //BodyScrollLock.clearAllBodyScrollLocks();
    // },
    computed:{
        locationFilter(){
            let locationData = this.locationData
            const searchRegex = RegExp(this.searchText,'i'); 
            let tempLocationArray = []
            for( let i = 0; i < locationData.length; i++ ){
                if( searchRegex.test(locationData[i].city) ){
                    tempLocationArray.push(locationData[i])    
                }else{
                    let tempLocationArray2 = []
                    for( let j = 0 ; j < locationData[i].location.length; j++ ){
                        if( searchRegex.test(locationData[i].location[j].name ) ){
                            tempLocationArray2.push(locationData[i].location[j])
                        } 
                    }
                    if( tempLocationArray2.length > 0){
                        tempLocationArray.push( {city:locationData[i].city, location:tempLocationArray2}) 
                    }
                }
            }
            return tempLocationArray; 
        },
        getLocationData() {
            if( this.searchText == ''){ 
                return this.locationData
            }else{  
                return this.locationFilter
            }
        },
    },  
    methods:{
        showPopularAttraction(){ 
            this.$emit('showPopularAttraction')
        }
    },  
}
</script> 
