<template>
  <div class="bg-homepage">
    <!-- {{ isi }} -->  
    <div class="search-box-wrapper"> 
      <div v-if="isSearchBoxFloating" class="search-box-nav">
        <div class="search-box-close home-icon icon-close-lg" @click="$emit('searchBoxClose')"></div>
        <h1 class="search-box-title">Ganti Pencarian</h1>
      </div>
      <div class="search-box-content" :class="{'search-box-float': isSearchBoxFloating}"> 
        <div class="search-box-row clearfix"> 
          <div @click="isLocationSearchVisible = true, isScrollDisabled(true)">
            <div class="search-box-icon">   
              <div class="home-icon icon-search"></div>
            </div>
            <div class="location-search">
              <div class="input-box"> 
                <label class="no-select">Tujuan</label>
                <input 
                id="inputPlace"
                class="ellipsis no-select"
                readonly="readonly" 
                placeholder="Ketik destinasi atau nama hotel"
                :value="selectedLocation.maintext" >

              </div>
            </div>
          </div>
          <div class="search-box-target-container" @click="getNearLocation">
            <div class="home-icon icon-target-lg"></div>
          </div> 
        </div>  
        <div class="search-box-row clearfix" @click="datePickerStatus({'status':true})"> 
          <div class="search-box-icon">   
            <div class="home-icon icon-calendar"></div>
          </div>
          <div class="search-box-date">
            <div class="input-box"> 
              <label class="no-select">Check-in</label>
              <input class="no-select" type="text" :value="checkInText" readonly>
              <!-- <div class="middle-arrow-container">
                  <div class="home-icon icon-next-arrow-xs"></div>
              </div> -->
            </div>   
          </div>  
          <div class="search-box-date">
            <div class="input-box"> 
              <label class="no-select">Check-out</label>
              <input class="no-select" type="text" :value="checkOutText" readonly>
            </div>   
          </div>  
          <div class="middle-arrow-container">
            <div class="home-icon icon-next-arrow-xs"></div>
          </div> 
        </div>
        <div class="search-box-row clearfix"
          @click="guestRoomStatus({'status':true})">
          <div class="search-box-icon">   
            <div class="home-icon icon-door"></div>
          </div>
          <div class="search-box-row-content">
            <div class="input-box"> 
              <label class="no-select">Jumlah Tamu &amp; Kamar</label>
              <input 
              type="text" 
              class="no-select"
              readonly="readonly" 
              placeholder="Ketik Lokasi / Nama Hotel" 
              id="tamu" 
              :value="guestRoomDisplay">
            </div>
          </div>   
        </div>
        <div 
          class="search-box-row clearfix"
          @click="filterStatus({'status':true})"
          v-if="!isSearchBoxFloating">
          <div class="search-box-icon">   
            <div class="home-icon icon-filter"></div>
          </div>
          <div class="search-box-row-content">
            <div class="input-box"> 
              <label class="no-select">Filter</label>
                <input 
                type="text"
                class="ellipsis no-select"
                placeholder="Semua harga dan bintang" 
                readonly="readonly"
                :value="filterDisplay">
            </div> 
          </div> 
        </div>
        <div class="search-box-footer">
          <vue-button  
            size="medium"
            btnType="pills-primary"  
            @click.native="doSearch">Lihat Daftar Hotel
          </vue-button>
          <div v-if="isSearchBoxFloating">
            <div class="spaced"></div>
            <p class="text-grey no-margin">Pencarian ini tidak akan mengubah filter yang telah Anda gunakan</p>
          </div>
        </div> 
      </div>
    </div> 
    <transition :name="'slide-right'" mode="out-in">
      <vue-location-search 
        v-if="isLocationSearchVisible"
        :selectedLocation="selectedLocation" 
        @locationSearched="searchBoxEventAction($event,'searchText')"
        @showLocationSearch="isLocationSearchVisible = $event">
      </vue-location-search>
    </transition>  
    <transition :name="'slide-left'" mode="out-in"> 
      <vue-date-picker 
        v-if="isDatePickerVisible"
        :holiday="holiday" 
        :dateInfo="dateInfo"
        @showDatePicker="datePickerStatus($event)" 
        @updatedDateInfo="searchBoxEventAction($event,'datepicker')"> 
      </vue-date-picker>
    </transition>
    <transition name="fade">
      <div class="bg-modal nested" 
        v-if="isGuestRoomModalVisible || isFilterModalVisible"
        @click="guestRoomStatus({'status':false}),isFilterModalVisible = false">
      </div>
    </transition>
    <transition name="slide-up" mode="out-in">  
      <vue-modal-bottom 
        ref="guestRoomModalBottom"
        v-if="isGuestRoomModalVisible"
        :modalNumber="1"
        @closeModalBottom="isGuestRoomModalVisible=!$event"> 
        <vue-guest-room
          :guestRoomInfo="localGuestRoomInfo"
          @updateGuestRoomInfo="localGuestRoomInfo={...localGuestRoomInfo,...$event}">
        </vue-guest-room>
        <vue-button  
          size="medium"
          btnType="pills-primary"  
          @click.native="$refs.guestRoomModalBottom.closeModalBottom(),
          searchBoxEventAction(localGuestRoomInfo,'guestRoom') ">Selesai
        </vue-button>
      </vue-modal-bottom> 
    </transition> 
    <transition name="slide-up" mode="out-in">  
      <vue-modal-bottom
        ref="filterModalBottom"
        v-if = "isFilterModalVisible"
        :modalNumber="2"  
        @closeModalBottom="isFilterModalVisible=!$event">
        <vue-price-filter
          ref="priceFilter"
          :priceValue="localFilter.price"
          @setFilterCount="priceFilterCount=$event"
          @updatePriceValue="localFilter.price=$event">
        </vue-price-filter>
        <div class="divider"></div>
        <vue-star-filter
          :starValue="localFilter.star"
          @updateStarValue="localFilter.star=$event"
          @setFilterCount="starFilterCount=$event"
          ref="starFilter">
        </vue-star-filter>
        <div class="divider"></div> 
        <vue-button  
          size="medium"
          btnType="pills-secondary"  
          style="margin:8px 8px 16px; width:116px; height:32px"
          @click.native="$refs.priceFilter.resetPrice(), $refs.starFilter.resetStar()">Reset
        </vue-button>
        <vue-button
          size="medium"
          btnType="pills-primary"  
          style="margin:8px 8px 16px; min-width:116px; width:auto; height:32px"
          @click.native="$refs.filterModalBottom.closeModalBottom(),searchBoxEventAction(localFilter,'filter')">
          Terapkan
          <span v-show="starFilterCount + priceFilterCount > 0">({{starFilterCount + priceFilterCount}}) Filter</span>
        </vue-button>
      </vue-modal-bottom> 
    </transition> 
    <vue-no-destination-pop-out 
      v-if="isNoDestinationPopOutVisible"
      @showNoDestinationPopOut="isNoDestinationPopOutVisible = false, isScrollDisabled(false)"> 
    </vue-no-destination-pop-out> 
    <vue-error-modal 
      v-if="isErrorModalVisible"
      :errorText="errorText"
      @showErrorMessageModal="isErrorModalVisible = false"> 
    </vue-error-modal> 
  </div>
</template>
<script>  
import Button from '@/components/generals/Button'
import NoDestinationPopOut from '@/components/homepage/NoDestinationPopOut'
import DatePicker from '@/components/datepicker'
import LocationSearch from '@/components/generals/LocationSearch'
import GuestRoom from '@/components/generals/GuestRoom'
import StarFilter from '@/components/generals/StarFilter'
import PriceFilter from '@/components/generals/PriceFilter'
import ModalBottom from '@/components/modals/ModalBottom' 
import errorModal from '@/components/modals/errorModal' 

import * as cookies from '@/util/cookies'

export default {
  name: 'SearchBox',
  components:{
    vueButton: Button,
    vueNoDestinationPopOut: NoDestinationPopOut,
    vueDatePicker: DatePicker,
    vueLocationSearch: LocationSearch,
    vueGuestRoom: GuestRoom,
    vueStarFilter: StarFilter,
    vuePriceFilter: PriceFilter,
    vueModalBottom: ModalBottom,
    vueErrorModal: errorModal
  }, 
  props:{
    holiday:{
      type: Object, 
    },
    hotelSearchData:{
      type: Object,
    },
    isSearchBoxFloating: {
      type: Boolean
    }
  },
  data() {
    return {        
      isNoDestinationPopOutVisible: false,
      isLocationSearchVisible: false,
      isDatePickerVisible: false,  
      isGuestRoomModalVisible: false,
      isFilterModalVisible: false,
      isErrorModalVisible:false,
      errorText:'Error Message',
      localGuestRoomInfo:{},
      localFilter:{},
      starFilterCount: 0,
      priceFilterCount: 0,
    }
  },  
  computed:{ 
    selectedLocation(){
      return this.hotelSearchData.selectedLocation
    },
    dateInfo(){
      return this.hotelSearchData.dateInfo
    }, 
    guestRoomInfo(){
      return this.hotelSearchData.guestRoomInfo
    },
    filter(){
      return this.hotelSearchData.filter
    },
    checkInText(){ 
      if( this.dateInfo.checkIn === ''){
        return '-'
      } 
      //return this.dateTextFormat(this.dateInfo.checkIn)
    },
    checkOutText(){
      if( this.dateInfo.checkOut === ''){
        return '-'
      } 
      //return  this.dateTextFormat(this.dateInfo.checkOut)
    },
    guestRoomDisplay(){
      return this.guestRoomInfo.guestCount + " Tamu & " + this.guestRoomInfo.roomCount + " Kamar"
    },
    filterDisplay(){
      let starText = ""
      let priceText = ""
      let flag = true
      for(let star in this.filter.star) {
        if(this.filter.star[star]) {
          if(flag) starText = "Bintang "
          flag = false
          starText += ++star + ", "
        }
      }
      starText = starText.slice(0, -2)
      if((this.filter.price[0] != 0 || this.filter.price[1] <= 5000000 )){
        let plusFlag = false
        let lowestNum = this.filter.price[0]
        let highestNum = this.filter.price[1]
        if(this.filter.price[1] > 5000000 ) {
          plusFlag = true
          highestNum = 5000000
        }
        priceText = this.toRupiah(lowestNum) + " - " + this.toRupiah(highestNum) 
        if(plusFlag) priceText += "+"
        priceText += "; "
      }        
      return priceText + starText 
    },
  },  
  methods: {   
    toRupiah: function(num) {
      return "Rp " + num.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.")
    },
    getNearLocation: function(){ 
      if(navigator.geolocation){
        var options = {timeout:3000};
        navigator.geolocation.getCurrentPosition(this.showNearLocation,this.gpsErrorHandler,options);
      }
    },
    showNearLocation: function(position) {
      console.log(position); 
      // var latitude = position.coords.latitude;
      // var longitude = position.coords.longitude;
      var obj = {}
      obj = {}
      obj.maintext = "Hotel di sekitar saya" 
      let updatedSearchData = {...this.hotelSearchData,}
      updatedSearchData.selectedLocation = obj 
      this.$emit('searchBoxDataUpdate', updatedSearchData)  
    },
    gpsErrorHandler: function(err) {
      if(err){
        this.errorText = "GPS di ponsel Anda tidak aktif. Segera aktifkan untuk mengunakan fitur ini"
        this.isErrorModalVisible = true
      }
      // if(err.code == 1) {
      //   this.errorText = "Aktifkan GPS di perangkat Anda untuk menggunakan fitur ini"
      //   this.isErrorModalVisible = true
      // }else if(err.code == 2) {
      //   this.errorText = "Error: Posisi tidak tersedia! Aktifkan GPS pada perangkat Anda, clear change browser dan muat ulang laman ini!"
      //   this.isErrorModalVisible = true
      // }else if(err.code == 3){
      //   this.errorText = "Gunakan pengaturan GPS akurasi tinggi untuk menggunakan fitur ini"  
      //   this.isErrorModalVisible = true
      // }
    },
    datePickerStatus(event){
      this.isDatePickerVisible = event.status;
      this.isScrollDisabled(event.status);
    },
    guestRoomStatus(event){
      if(event.status){
        this.localGuestRoomInfo = {...this.guestRoomInfo}
      }
      this.isGuestRoomModalVisible = event.status 
      this.isScrollDisabled(event.status)
    },
    filterStatus(event){
      if(event.status){
        this.localFilter = JSON.parse(JSON.stringify(this.filter) )
      }
      this.isFilterModalVisible = event.status 
      this.isScrollDisabled(event.status)
    },
    doSearch: function(){ 
      // unfinished handling when gps is done
      if( this.selectedLocation.maintext !== undefined ){
        if( this.selectedLocation.maintext === 'Hotel di sekitar saya'){
          console.log('doSomething GPS'); 
        }else{
          const obj = {...this.hotelSearchData}    
          cookies.default.setCookiesSearch(obj)  
          
        }
        this.$router.push({name:'SearchResult'}) 
      }else{  
        this.isScrollDisabled(true);
        this.isNoDestinationPopOutVisible = true; 
      } 
      // this.$emit('hotelSearch')
    },
    searchBoxEventAction(event,action){
      let updatedSearchData = {...this.hotelSearchData} 
      
      if( action === 'searchText'){
        updatedSearchData.selectedLocation =  { ...updatedSearchData.selectedLocation,...event.selectedLocation}  
      }
      // add handling for backdate when it settled
      if( action === "datepicker"){
        // const backdate = event.backdate 
        // if( backdate ){
        //   console.log('do something ' + backdate); 
        // }    
        updatedSearchData.dateInfo =  { ...updatedSearchData.dateInfo,...event.dateInfo}  
      }
      if( action === 'guestRoom'){ 
        updatedSearchData.guestRoomInfo =  { ...updatedSearchData.guestRoomInfo,...event}  
      } 
      if( action === 'filter'){  
        updatedSearchData.filter =  { ...updatedSearchData.filter,...event}  
      }  
      this.$emit('searchBoxDataUpdate', updatedSearchData) 
    },
  }, 
  mounted() { 
    this.localGuestRoomInfo = {...this.guestRoomInfo};
    this.localFilter = JSON.parse(JSON.stringify(this.filter) )
  }
}
</script>
<style>    
  .search-box-float {
    position: fixed;
    top: 58px;
    left: 50%;
    z-index: 3;
    width: 95%;
    transform: translateX(-50%);
  }

  .search-box-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
    box-shadow:-1px 2px 7px -2px rgba(89,89,89,.46);
  }

  .search-box-title {
    margin: 16px 0;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
  }

  .search-box-close {
    position: absolute;
    left: 8px;
    top: 12px;
    height: 1em;
  }
  .search-box-wrapper{
    padding: 0 16px;
    font-size: var(--font-mobile-md);  
  }
  .search-box-wrapper .search-box-content{ 
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(6, 6, 6, 0.3);
    background-color: #ffffff;
    padding: 0 8px;
  }
  .search-box-content .search-box-row{
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d8d8d8;
  }  
  .search-box-row .search-box-icon{
    float: left; 
    margin-top: 10px;
  } 
  .search-box-row .search-box-target-container{
    float: left; 
    margin-top: 8px;
  }
  .search-box-row .search-box-row-content {
    float: left;
    padding-left: 8px;
    width: calc(100% - 16px); 
  } 
  .search-box-row .search-box-date:nth-child(2){ 
    position: relative;
    width: 52% ;
    padding-left: 8px;
  } 
  .search-box-row .middle-arrow-container{
    position: absolute; 
    top: 15px;
    left: 48%;
  }
  .middle-arrow-container .home-icon{ 
  }
  /* .search-box-date .middle-arrow-container{
    position: absolute;
    top: 10px;
    width: 100%;
    padding-right: 7px;
    padding-left: 90px;
  }
  
  .search-box-date .middle-arrow-container .home-icon{
    margin-left: 35%;
  } */
  .search-box-row .search-box-date:nth-child(3){  
    width: 40%;
  }
  .search-box-row .search-box-date {
    float: left; 
  }
  .search-box-row .location-search{
    float: left;
    padding-left: 8px;
    width: calc(100% - 48px);  
  } 
  .search-box-row .input-box label{
    display: block;
    font-size: var(--font-mobile-sm); 
    color: #aaa;
    margin:0px;
  }
  .search-box-row .input-box input{
    display: block;
    font-size: var(--font-mobile-md);
    font-weight: 700;
    border: none;
    outline: none; 
    line-height: 1.43; 
    color: #1a2734;  
    width: 100%; 
    padding: 0px; 
  }
  .search-box-row .input-box input::placeholder {
    color: #aaa;
    font-weight: 400;
  } 
  .search-box-content .search-box-footer {
    text-align: center;
    padding: 16px 0;
  } 
  .divider {
    height: 1px;
    border-radius: 0.5px;
    border: solid 1px #efefef;
    margin: 10px 0 6px 30px;
  }
</style>
