<template>
    <div class="error-message-wrapper"> 
        <div class="error-message-pop-layout" @click="closeRoom"></div>
        <div class="error-message-container">
            <h1>{{errorText}}</h1>
            <div> 
                <vue-button
                size="small"
                btnType="pills-primary"
                @click.native="closeRoom(false)">Ok, mengerti</vue-button> 
            </div>
        </div>
    </div>
</template>
<script>
import Button from '@/components/generals//Button' 
    export default {
        name: 'ErrorModal',
        components: {
            vueButton: Button
        },
        props:{
            errorText:{ 
                default: 'Error Message '
            }
        },
        methods: {
            closeRoom(){
                this.$emit('showErrorMessageModal', {'status':false} )
            }
        }
    }
</script> 
<style>
    .error-message-wrapper{ 
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 20;
        top: 0;
        left: 0; 
    }
    .error-message-wrapper .error-message-pop-layout{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
    }
    .error-message-wrapper .error-message-container{ 
        width: 272px;
        background: #ffffff;
        border-radius: 9px;
        margin: 0 auto;
        margin-top: calc( (100vh - 114px) /2 ); 
        padding: 16px;
        padding-top: 26px;
        text-align: center; 
        position: relative;
    }
    .error-message-wrapper .error-message-container h1{
        font-size: var(--font-mobile-md);
        margin-bottom: 16px;
    } 
    .error-message-wrapper .error-message-container button{
        width: 240px;
        height: 32px;
        font-size: var(--font-mobile-md); 
    } 
</style>
