<template>
  <div class="modal-panel-map">
    <search-result-map></search-result-map>
  </div>
</template>
<style lang="scss">
  .modal-panel-map{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
</style>
<script>
  import SearchResultMap from '@/components/search-result/SearchResultMap'
  export default{
    name: 'Modal-map-result',
    components:{
      'search-result-map': SearchResultMap
    }
  }
</script>
