<template>   
  <div id="modalBottom" class="text-left">
    <v-touch 
      class="touch-area"
      v-on:panmove="onDrag" 
      v-on:panend="onDragEnd" 
      @swipe="newHeight = 0"> 
    </v-touch>   
    <div class="content" :id="'modalBottomContent-'+modalNumber" style="transition:transform 1s"> 
      <slot></slot>
    </div>
  </div>
</template>
<script>
//import VueTouch from 'vue-touch'
import Vue from 'vue' 

/* eslint-disable */
export default {
  name: 'ModalBottom',
  props:{
    modalNumber:{
      default:0
    },
    canScrollToTop:{
      default:false, 
    }
  },
  data() {
    return { 
      modalInitialHeight: 0,
      extraHeight: 0,
      position:'', 
    }
  },
  methods: {
    onDrag(event){
      if(event.deltaY > 0 | this.canScrollToTop ){
        this.position.style.height = this.modalInitialHeight + (this.extraHeight * -1) + (event.deltaY * -1) + 'px';   
      }else{ 
        event.deltaY = 0  
      } 
    }, 
    onDragEnd(event){  
      const screenHeight = window.innerHeight 
      const heightMove = this.extraHeight + event.deltaY  
      this.extraHeight = 0
      if( heightMove < -100 & this.canScrollToTop ){
        this.extraHeight =  -(screenHeight - this.modalInitialHeight) 
        this.position.style.height = this.modalInitialHeight +  (this.extraHeight * -1) + 'px';  
      } else if(heightMove > 100 ){  
         this.closeModalBottom()  
      }else{ 
        this.position.style.height = this.modalInitialHeight + 'px';   
      } 
    },
    closeModalBottom: function () {
      this.isScrollDisabled(false)
      this.$emit("closeModalBottom", true)
    },
  },
  // set initial position of modal when it opened, using v-show outside the modal 
  // will broke the swipe features 
  mounted(){ 
    this.position = document.getElementById('modalBottomContent-'+this.modalNumber)  
    this.modalInitialHeight = this.position.clientHeight   
  }
}
</script>
<style lang="scss">
@import '@/assets/css/modal.scss';

#modalBottom{
  display:block;
  overflow:hidden;
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 4;
  .touch-area{
    height: 40px;
    position: relative;
    top: 40px;
    &:after {
      content: '';
      display: inline-block;
      background-color: #ddd;
      width: 40px;
      margin: 0 auto;
      position: absolute;
      top: 8px;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 4px;
    }
  }
  .content {
    z-index: 3;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 6px;
    bottom: 0%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    .btn-orange {
      font-size: 15px;
      font-weight: 500;
      margin-top: 20px;
      padding: 3px;
    }
  } 
}
</style>
